.main {
  --label-column-width: calc-size(186);
  --separate-line-color: rgba(255, 255, 255, 0.1);

  display: grid;

  width: 100%;
  grid-template-columns: calc(var(--label-column-width) * 2) auto;
  grid-template-areas: 'left calendar';
}

.subTitleHeightStub {
  border-bottom: 1px solid var(--separate-line-color);
}

.selectedOptions {
  padding-left: 0;

  border-top: 0;
  border-bottom: 0;
}

.left {
  grid-area: left;

  z-index: 1;

  &.shadow {
    box-shadow: 5px 0 14px rgba(0, 29, 46, 0.4);
  }
}

.calendar {
  overflow-x: auto;

  border-right: 1px solid var(--separate-line-color);
  border-left: 1px solid var(--separate-line-color);
  grid-area: calendar;
}

.fakeBlock {
  visibility: hidden;

  width: var(--label-column-width);
}

.table {
  margin: 0;
  padding: 0;

  border-spacing: 0;
  border-collapse: separate;

  border: none;
  background: none;

  & td {
    padding: var(--space-xs) 0;

    text-align: center;
    vertical-align: top;
  }

  & th {
    font-weight: normal;

    width: 50px;
    padding: var(--space-s) var(--space-m);

    border-bottom: 1px solid var(--separate-line-color);

    &.isSubTitle {
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
  }

  & tr:nth-child(even) td {
    background: var(--table-even-row-background);
  }

  &.calendarTable {
    width: 100%;
    min-width: calc-size(600);

    table-layout: fixed;

    & tbody {
      background-image: url('./background.svg');
      background-repeat: repeat;
    }

    & th {
      padding: 0;

      text-align: center;
    }
  }

  &.labelsTable {
    width: 100%;

    table-layout: fixed;

    & tbody td:first-child,
    & thead th:first-child {
      padding-left: var(--space-m);

      text-align: left;
    }
  }
}

.iconFilter {
  @nest .cell:hover:not(.isFilterOpened) & {
    opacity: 0.2;
  }
}

.chartLine {
  position: absolute;
  top: calc-size(10);

  height: calc-size(8);

  &.isInteractive {
    cursor: pointer;
  }

  &.isFact {
    opacity: 1;
  }

  &.isPlan {
    top: 0;

    opacity: 0.6;
  }

  &.isForecast {
    opacity: 0.4;
  }

  &.isActive {
    opacity: 1;
  }
}

.wrapper {
  position: relative;

  width: 100%;

  &.hideInactive > .isFact:not(.isActive),
  &.hideInactive > .isForecast:not(.isActive),
  &.hideInactive > .isPlan:not(.isActive) {
    opacity: 0.3;
  }
}

.currentDay {
  --current-day-width: 1px;

  position: absolute;
  top: -10px;

  width: var(--current-day-width);
  height: 100%;

  background: #0096eb;

  &::after {
    position: absolute;
    top: 0;
    left: 0;

    width: 7px;
    height: 7px;

    content: '';

    border-radius: 10px;
    background: inherit;

    transform: translateX(calc(var(--current-day-width) / 2)) translate(-50%, -50%);
  }
}

.titleWrapper {
  position: relative;

  display: inline-block;
}

.monthTitleWrapper {
  width: 100%;
  padding: var(--space-s) 0;

  text-align: center;
}

.periodWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1px;

  width: 1px;

  text-align: center;

  background: var(--separate-line-color);
}

.periodText {
  font-size: calc-size(8);

  position: absolute;
  top: 0;
  left: 1px;

  padding: 0 var(--space-2xs);

  white-space: nowrap;

  background: var(--color-control-bg-ghost);
}
