.main {
  display: grid;

  height: 100%;

  grid-template-areas:
    'topLeft topTicks topRight'
    'leftTicks graph rightTicks'
    'bottomLeftTicks bottomTicks bottomRightTicks'
    'bottomLeft bottomUnit bottomRight';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
}

.topTicks,
.rightTicks,
.bottomTicks,
.leftTicks {
  position: relative;
}

.leftTicks,
.rightTicks {
  max-width: calc-size(177);
}

.topLeft {
  grid-area: topLeft;

  margin-right: calc-size(17);
  margin-bottom: calc-size(9);
}

.topTicks {
  grid-area: topTicks;
}

.leftTicks {
  grid-area: leftTicks;
}

.graph {
  grid-area: graph;
}

.rightTicks {
  grid-area: rightTicks;
}

.bottomTicks {
  grid-area: bottomTicks;
}

.bottomControls {
  position: absolute;
  top: 0;
  right: 0;

  height: 100%;

  opacity: 0;
  background-color: rgba(0, 39, 61, 0.9);

  &:hover {
    opacity: 1;
  }
}

.bottomUnit {
  grid-area: bottomUnit;

  margin-top: calc-size(5);

  text-align: right;
}

.unit {
  font-size: calc-size(12);
  line-height: calc-size(17);

  color: rgba(246, 251, 253, 0.7);
}
