.main {
  --vertical-margin: var(--space-s);
  --horizontal-margin: var(--space-m);

  display: grid;

  height: 100%;

  grid-template-areas:
    'topLeft topTicks topRight'
    'leftTicks graph rightTicks'
    'bottomLeftTicks bottomTicks bottomRightTicks'
    'bottomLeft bottomUnit bottomRight';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr auto;

  &.sizeS {
    --vertical-margin: var(--space-xs);
    --horizontal-margin: var(--space-xs);
  }
}

.topTicks,
.rightTicks,
.bottomTicks,
.leftTicks {
  position: relative;
}

.leftTicks,
.rightTicks {
  max-width: calc-size(160);
}

.topLeftUnit {
  grid-area: topLeft;

  margin-right: var(--space-m);
  margin-bottom: var(--space-xs);
}

.topTicks {
  grid-area: topTicks;

  margin-bottom: var(--vertical-margin);
}

.leftTicks {
  grid-area: leftTicks;

  margin-right: var(--horizontal-margin);

  justify-self: end;
}

.graph {
  grid-area: graph;
}

.rightTicks {
  grid-area: rightTicks;

  margin-left: var(--horizontal-margin);
}

.bottomTicks {
  grid-area: bottomTicks;

  margin-top: var(--vertical-margin);
}

.bottomUnit {
  grid-area: bottomUnit;

  margin-top: var(--space-2xs);

  text-align: right;
}
