.wrapper {
  pointer-events: none;
}

.line {
  stroke-dasharray: 5;
}

.fill {
  fill: currentColor;

  opacity: 0.05;
}

.label {
  font-size: var(--size-text-xs);

  fill: currentColor;

  transform: translate(var(--axis-tick-offset), calc(var(--size-text-xs) / 3));
}
