.column {
  position: relative;

  display: flex;

  max-width: 100%;
  max-height: 100%;

  &.isHorizontal {
    width: 100%;
    height: var(--column-size);

    & + & {
      margin-top: var(--column-padding);
    }

    &.isReversed {
      flex-direction: row-reverse;
    }
  }

  &:not(.isHorizontal) {
    &:not(.isReversed) {
      flex-direction: column-reverse;
    }

    width: var(--column-size);
    height: 100%;

    & + & {
      margin-left: var(--column-padding);
    }
  }
}
