@custom-selector :--horizontal-column .column.isHorizontal;
@custom-selector :--vertical-column .column:not(.isHorizontal);

.column {
  position: relative;

  display: flex;

  max-width: 100%;
  max-height: 100%;

  &.sizeS {
    --column-size: var(--space-2xs);
    --column-padding: var(--space-3xs);
  }

  &.sizeM {
    --column-size: calc-size(12);
    --column-padding: var(--space-2xs);
  }

  &.sizeL {
    --column-size: calc-size(16);
    --column-padding: var(--space-2xs);
  }

  &.sizeXL {
    --column-size: calc-size(24);
    --column-padding: var(--space-2xs);
  }

  &.size2XL {
    --column-size: calc-size(36);
    --column-padding: var(--space-2xs);
  }

  &.size3XL {
    --column-size: calc-size(42);
    --column-padding: var(--space-2xs);
  }

  &.isHorizontal {
    height: var(--column-size);

    & + & {
      margin-top: var(--column-padding);
    }
  }

  &:not(.isHorizontal) {
    flex-direction: column-reverse;

    width: var(--column-size);

    & + & {
      margin-left: var(--column-padding);
    }
  }
}
