.main {
  font-size: 16px;
  line-height: 18px;

  position: relative;

  padding-left: 30px;

  color: #8bb1ff;

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 4px;
    height: 78%;

    content: '';

    background-color: rgba(204, 211, 255, 0.3);
  }
}

.infoLine {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 7px;

  &:last-child {
    margin-bottom: 0;
  }
}

.countryWrap {
  margin-right: 11px;

  &:last-child {
    margin-left: 0;
  }
}

.countryFlag {
  margin-right: 11px;

  & img {
    width: 15px;

    transform: translateY(2px);
  }

  &:last-child {
    margin-right: 0;
  }
}

.title {
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;

  margin-bottom: 7px;

  letter-spacing: 0.0121em;
  text-transform: uppercase;

  color: var(--text-color);

  &:last-child {
    margin-bottom: 0;
  }
}
