.main {
  display: block;
  overflow: visible;

  width: 100%;
  height: 100%;

  &.downRight {
    transform: scaleY(-1);
  }

  &.upLeft {
    transform: scaleX(-1);
  }

  &.downLeft {
    transform: scale(-1);
  }
}

.area {
  &.isEnd {
    stop-color: var(--opaque-color);
  }
}
