.main {
  --axis-color: #fff;
}

.label {
  position: absolute;

  display: inline-block;

  padding: 0 var(--space-3xs);

  transform: translate(-50%, -50%);
}

.labelText {
  white-space: nowrap;
}

.innerCircle {
  fill: var(--axis-color);
}

.circle {
  opacity: 0.2;
  fill: none;
  stroke: var(--axis-color);
  stroke-width: 2;
}

.axis {
  pointer-events: none;

  stroke: var(--axis-color);
  stroke-width: 1;
  stroke-linecap: butt;
}

.axisArea {
  stroke: transparent;
  stroke-width: 10;
  stroke-linecap: butt;

  cursor: pointer;
}
