.main {
  --axis-color: #fff;
}

.label {
  line-height: 1.3;

  display: inline-block;

  padding: 0 calc-size(2);

  transform: translate(-50%, -50%);

  &.sizeS {
    font-size: calc-size(10);
  }

  &.sizeM {
    font-size: calc-size(12);
    font-weight: bold;
  }
}

.labelText {
  opacity: 0.15;
  color: var(--axis-color);
}

.innerCircle {
  fill: var(--axis-color);
}

.circle {
  opacity: 0.2;
  fill: none;
  stroke: var(--axis-color);
  stroke-width: 2;
}

.axis {
  pointer-events: none;

  stroke: var(--axis-color);
  stroke-width: 1;
  stroke-linecap: butt;
}

.axisArea {
  stroke: transparent;
  stroke-width: 10;
  stroke-linecap: butt;

  &.isHoverable {
    cursor: pointer;
  }
}
