@custom-selector :--main .switcher;

:--main {
  font-size: var(--main-font-size);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  user-select: none;
}

.title {
  padding-right: 12px;

  &:last-child {
    padding-right: 0;
  }
}

.wrapper {
  position: relative;

  display: inline-block;

  width: 24px;
  height: 13px;

  border-radius: 20px;
  background: rgba(#323f52, 0.5);

  transition: background-color 0.3s ease-out;

  @nest :--main.isEnabled & {
    background-color: #5e6f8a;
  }
}

.icon {
  position: absolute;
  top: -2px;
  left: -4px;

  width: 17px;
  height: 17px;

  border-radius: 50%;
  background: #cfdef6;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.41);

  transition: transform 0.3s ease-out;
  transform: translateX(0);

  @nest :--main.isEnabled & {
    transform: translateX(15px);
  }
}
