.plus {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  font-size: 20px;
  z-index: 2;
  display: none;

  &.right {
    left: auto;
    right: 0;
    transform: translate(50%, -50%);
  }
}

.column {
  position: relative;
  flex: 1;
  min-width: 0;

  & + & {
    margin-left: 8px;
  }
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;

  &:hover .plus {
    display: block;
  }

  &:not(.viewMode) .column::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    border: 1px dashed gray;
    pointer-events: none;
  }
}

.main:not(.viewMode) .column {
  min-height: 30px;
}

.remove {
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50%) translateX(-100%);
}
