@custom-selector :--main .main;
@custom-selector :--buttons .buttons;

:--main {
  position: relative;

  width: 100%;
  height: 100%;

  &:not(.isViewMode) {
    border: 1px solid var(--color-bg-border);
    background: var(--color-bg-ghost);
  }
}

.buttons {
  position: absolute;
  z-index: calc(var(--z-box-wrapper) + 1);
  bottom: 18px;
  left: -2px;

  display: flex;

  padding: 10px 0;

  border-radius: var(--control-radius);
  background: var(--color-control-bg-default);

  transform: translate(0, -50%);

  :--main:not(:hover) & {
    display: none;
  }
}

.button {
  font-size: 12px;

  position: relative;

  margin: 0 8px;

  cursor: pointer;

  color: var(--color-typo-primary);

  &::before {
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;

    content: '';

    border-radius: 2px;
  }

  &:hover::before {
    background: var(--color-control-bg-clear-hover);
  }

  :--main > :--buttons:not(:hover) &:not(:first-child) {
    /* В свитчере показываем только 1 кнопку, а остальные появляются по ховеру */
    display: none;
  }
}
