.main {
  position: relative;

  --active-border-width: 2px;

  &:not(.isAdaptive) {
    --base-size: 16;
  }
}

.wrapper {
  overflow: hidden;

  margin: calc(-1 * var(--active-border-width));
  padding: var(--active-border-width);
}

.list {
  display: flex;

  transition: transform 0.15s ease;
}

.item {
  flex-shrink: 0;

  box-sizing: content-box;
  width: calc-size(50);
  height: calc-size(50);

  cursor: pointer;

  opacity: 0.3;

  transition: opacity 0.1s linear;

  & + & {
    margin-left: calc-size(12);
  }

  &:hover {
    opacity: 0.8;
  }

  &.isActive {
    position: relative;

    opacity: 1;
    border-radius: 2px;

    &::before {
      position: absolute;
      z-index: -1;
      top: calc(-1 * var(--active-border-width));
      right: calc(-1 * var(--active-border-width));
      bottom: calc(-1 * var(--active-border-width));
      left: calc(-1 * var(--active-border-width));

      content: '';

      border-radius: inherit;
      background: #29b0ff;
    }
  }
}

.image {
  width: 100%;
  height: 100%;

  border-radius: inherit;
  background: var(--bg-color-white);

  object-fit: cover;
  object-position: center;
}

.button {
  position: absolute;
  top: 50%;

  width: calc-size(32);
  height: calc-size(32);

  cursor: pointer;

  border: 1px solid rgba(255, 255, 255, 0.51);
  border-radius: 4px;
  background: var(--bg-box);

  transform: translateY(-50%);
}

.toLeft {
  transform-origin: center;

  & .icon {
    transform: scaleX(-1);
  }
}

.toRight {
  right: calc-size(-10);
}
