.main {
  box-sizing: border-box;
  color: #8bb1ff;
  font-size: 16px;
  line-height: 18px;
  padding-left: 30px;
  position: relative;

  &::before {
    background-color: rgba(204, 211, 255, 0.3);
    content: '';
    height: 78%;
    left: 0;
    position: absolute;
    top: 0;
    width: 4px;
  }
}

.infoLine {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 7px;

  &:last-child {
    margin-bottom: 0;
  }
}

.countryWrap {
  margin-right: 11px;

  &:last-child {
    margin-left: 0;
  }
}

.countryFlag {
  margin-right: 11px;

  & img {
    width: 15px;
    transform: translateY(2px);
  }

  &:last-child {
    margin-right: 0;
  }
}

.title {
  color: var(--text-color);
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.0121em;
  line-height: 40px;
  margin-bottom: 7px;
  text-transform: uppercase;

  &:last-child {
    margin-bottom: 0;
  }
}
