.kpiChart {
  position: relative;
  width: 100%;
  height: 100%;
}

.svgDefs {
  width: 0;
  height: 0;
  display: block;
}

.circle {
  position: absolute;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 4px;
    height: 4px;
    z-index: 2;
    background: #fff;
    border-radius: 100%;
    transform: translate(-50%, -50%);
  }
}

.lineBackground {
  fill: none;
  stroke-width: 1.5px;
}

.lineForeground {
  fill: none;
  stroke-width: 1.5px;
}

.areaGradient {
  &.isStart.normal {
    stop-color: var(--opaque-color);
  }

  &.isStart.warning {
    stop-color: var(--opaque-color);
  }

  &.isStart.danger {
    stop-color: var(--opaque-color);
  }

  &.isEnd.normal {
    stop-color: rgba(47, 204, 105, 0.4);
  }

  &.isEnd.warning {
    stop-color: var(--warning-border-color-opacity-40);
  }

  &.isEnd.danger {
    stop-color: rgba(204, 16, 39, 0.4);
  }
}

.linearGradient {
  &.isStart.normal {
    stop-color: var(--opaque-color);
  }

  &.isStart.warning {
    stop-color: var(--opaque-color);
  }

  &.isStart.danger {
    stop-color: var(--opaque-color);
  }

  &.isEnd.normal {
    stop-color: rgba(47, 204, 105, 1);
  }

  &.isEnd.warning {
    stop-color: var(--color-warning);
  }

  &.isEnd.danger {
    stop-color: rgba(204, 16, 39, 1);
  }
}
