.notices {
  position: relative;
}

.count {
  font-size: 16px;
  line-height: 28px;

  position: absolute;
  z-index: 1;
  top: -10px;
  right: -5px;

  width: 28px;
  height: 28px;

  text-align: center;

  color: #000;
  border-radius: 50%;
  background-color: #fff;
}

.list {
  position: relative;

  &.multiple {
    padding-bottom: 7px;

    &::after {
      position: absolute;
      right: 5px;
      bottom: 0;
      left: 5px;

      width: calc(100% - 10px);
      height: 7px;

      content: '';

      border: var(--border-radius);
      border-top: none;
      border-radius: 0 0 4px 4px;
      background: rgba(255, 255, 255, 0.03);
    }
  }
}
