.main {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.wrapper {
  background-color: var(--bg-block);
  border-radius: 4px;
  border: 1px solid var(--white-border-color-opacity-10);
  box-sizing: border-box;
  color: var(--text-color);
  padding-left: 45px;
  position: relative;
  width: 80%;
}

.infoLine {
  align-items: center;
  bottom: -4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  left: 14px;
  position: absolute;
  transform-origin: left top;
  transform: rotate(-90deg);
}

.title {
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  margin-right: 14px;

  &:last-child {
    margin-right: 0;
  }
}

.units {
  color: #8bb1ff;
  font-size: 16px;
}

.popupWrapper {
  position: absolute;
  left: 95px;
  right: 20px;
  top: 10px;
}

.subinfoWrapper {
  width: 18.5%;
}
