.hoverLine {
  stroke: transparent;
  stroke-width: 2;
  stroke-linecap: butt;

  cursor: pointer;

  &.isActive {
    stroke: var(--color-bg-soft);
  }

  &.isHoverable {
    stroke-width: 10;
  }
}
