.block {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.separator {
  width: 1px;
  margin: 0 10px;

  background-color: rgba(255, 255, 255, 0.27);
}
