.main {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;

  text-align: center;

  &.right,
  &.left {
    align-items: center;
  }

  &.top {
    align-items: flex-start;
  }

  &.right {
    justify-content: flex-end;

    text-align: right;
  }

  &.bottom {
    align-items: flex-end;
  }

  &.left {
    justify-content: flex-start;

    text-align: left;
  }
}

.content {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  .main:not(.withPosition) & {
    margin: var(--donut-width);
    padding: var(--padding-from-line);
  }

  .main.top & {
    justify-content: flex-start;

    padding-top: var(--padding-from-border);
    padding-bottom: var(--donut-width);
  }

  .main.right & {
    align-items: flex-end;

    padding-right: var(--padding-from-border);
    padding-left: var(--donut-width);

    text-align: right;
  }

  .main.bottom & {
    justify-content: flex-end;

    padding-top: var(--donut-width);
    padding-bottom: var(--padding-from-border);
  }

  .main.left & {
    align-items: flex-start;

    padding: 0 var(--padding-from-border);
    padding-right: var(--donut-width);

    text-align: left;
  }
}

.title {
  line-height: var(--line-height-text-xs);

  white-space: nowrap;

  color: var(--color-typo-secondary);
}

.value {
  line-height: var(--line-height-text-s);

  display: flex;
  justify-content: center;

  width: 100%;

  color: var(--color-typo-primary);

  .main.left & {
    justify-content: flex-start;
  }

  .main.right & {
    justify-content: flex-end;
  }
}

.subvalue {
  font-weight: bold;
  line-height: var(--line-height-text-s);

  color: var(--color-typo-primary);
}
