@custom-selector :--tick-line :global(.tick) > line;

.main {
  pointer-events: none;
}

.grid {
  color: var(--color-bg-border);

  & > :global(.domain) {
    stroke: none;
  }

  & > :global(.tick) {
    stroke-dasharray: 1, 3;
  }
}

.labels {
  font-size: var(--size-text-xs);

  color: var(--color-typo-secondary);

  & > :global(.domain) {
    stroke: none;
  }

  & > :--tick-line {
    display: none;
  }

  &.isAxisX.isPositionBottom > :--tick-line {
    transform: translateY(var(--axis-tick-offset));
  }

  &.isAxisX.isPositionTop > :--tick-line {
    transform: translateY(calc(-1 * var(--axis-tick-offset)));
  }

  &.isAxisY.isPositionLeft > :--tick-line {
    transform: translateX(calc(-1 * var(--axis-tick-offset)));
  }

  &.isAxisY.isPositionRight > :--tick-line {
    transform: translateX(var(--axis-tick-offset));
  }
}

.axisLine {
  stroke-dasharray: none;
}

.unit {
  fill: currentColor;

  &.isAxisY {
    transform: translateY(calc(-1 * var(--space-m)));
  }
}

.isYLabelsHidden {
  opacity: 0;
}
