.selectedFilters {
  --filters-border: 1px solid var(--color-bg-border);

  position: relative;

  display: flex;
  flex-wrap: wrap;

  min-height: calc-size(28);
  padding: var(--space-2xs) var(--space-2xl) var(--space-2xs) var(--space-s);

  cursor: default !important;
  text-transform: initial;

  border-top: var(--filters-border);
  border-bottom: var(--filters-border);
}

.buttonCross {
  position: absolute;
  top: 50%;
  right: 16px;

  width: 16px;
  height: 16px;

  cursor: pointer;

  color: var(--color-control-typo-clear);

  transform: translateY(-50%);

  &:hover {
    color: var(--color-control-typo-clear-hover);
  }
}

.icon {
  display: block;

  margin: 0 auto;
}

.selectedOptionWrapper {
  margin: var(--space-3xs) 0;

  &:not(:last-child) {
    margin-right: 4px;
  }
}
