.legend {
  position: relative;

  display: flex;
  justify-content: space-between;

  width: 100%;
  margin-top: calc(-1 * var(--space-3xs));
}

.marking {
  position: absolute;

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  white-space: nowrap;

  &.isHidden {
    position: relative;

    visibility: hidden;
  }
}

.markingIcon {
  width: calc-size(1);
  height: calc-size(4);

  background-color: var(--color-bg-border);
}

.markingText {
  transform: translateX(-50%);

  .marking.alignLeft & {
    transform: translateX(0);
  }

  .marking.alignRight & {
    transform: translateX(-100%);
  }
}
