.main {
  --item-padding-x: var(--space-xs);
  --item-padding-y: calc(var(--space-xs) / 2);

  margin: calc(-1 * var(--item-padding-y)) calc(-1 * var(--item-padding-x));

  &.column {
    display: flex;
    flex-direction: column;
  }
}

.title {
  padding-left: var(--item-padding-x);
}

.item {
  padding: var(--item-padding-y) var(--item-padding-x);

  border-radius: var(--space-3xs);

  .isHoverable &:hover {
    background: var(--color-bg-ghost);
  }
}
