.currentDay {
  font-weight: bold;
  font-size: 24px;
  grid-area: current-day;
}

.content {
  grid-area: date;
  align-items: flex-end;
  display: flex;
  padding-bottom: 3px;
}

.icon {
  margin-right: 10px;
}

.value {
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
