@custom-selector :--tick-line :global(.tick) > line;

.main {
  pointer-events: none;
}

.grid {
  color: var(--color-bg-border);

  & > :global(.domain) {
    stroke: none;
  }

  & > :global(.tick) {
    stroke-dasharray: 1, 3;
  }
}

.labels {
  font-size: var(--size-text-xs);

  color: var(--color-typo-secondary);

  & > :global(.domain) {
    stroke: none;
  }

  & > :--tick-line {
    color: var(--color-bg-border);
  }

  &_x&_bottom > :--tick-line {
    transform: translateY(var(--axis-tick-offset));
  }

  &_x&_top > :--tick-line {
    transform: translateY(calc(-1 * var(--axis-tick-offset)));
  }

  &_y&_left > :--tick-line {
    transform: translateX(calc(-1 * var(--axis-tick-offset)));
  }

  &_y&_right > :--tick-line {
    transform: translateX(var(--axis-tick-offset));
  }
}

.axisLine {
  stroke-dasharray: none;
}

.unit {
  fill: currentColor;

  &_y {
    transform: translateY(calc(-1 * var(--space-m)));
  }
}
