@custom-selector :--main .box;

:--main {
  display: flex;
  overflow: auto;
  flex-direction: column;
  flex-grow: 1;

  height: 100%;

  &.verticalAlignBottom {
    justify-content: flex-end;
  }

  &.verticalAlignMiddle {
    justify-content: center;
  }

  &:not(.isNested) {
    padding: calc-size(14);

    background: var(--color-bg-secondary);
  }

  &:not(.isViewMode) {
    overflow-y: scroll;

    user-select: none;
  }
}

.panel {
  font-size: 12px;

  position: relative;
  z-index: 99;

  margin: 0 auto;
  padding: 6px;

  white-space: nowrap;

  color: var(--color-typo-secondary);
  border-radius: var(--control-radius);
  background: rgba(var(--color-nums-shadow), 0.5);

  &:hover {
    background: rgba(var(--color-nums-shadow), 1);
  }

  @nest :--main:not(:hover) > & {
    opacity: 0.2;
  }
}

.panelHoveredContent {
  position: absolute;
  top: 0;
  left: 50%;

  display: flex;
  flex-direction: column;

  width: 200px;
  padding: 10px;

  border-radius: var(--control-radius);
  background: inherit;

  transform: translateX(-50%);

  @nest .panel:not(:hover) & {
    display: none;
  }
}

.select {
  width: 100%;
  min-width: 0;
  margin-bottom: 8px;
}
