.geologicFeaturePlate {
  position: relative;

  width: 226px;
  min-height: 50px;
  padding: 14px 10px 10px 52px;

  color: var(--text-color);
  border: 1px solid var(--white-border-color-opacity-10);
  border-radius: var(--border-radius);
  background: #111116;
}

.icon {
  position: absolute;
  top: 14px;
  left: 14px;
}

.title {
  font-size: 14px;

  margin-bottom: 1px;

  word-wrap: break-word;

  &:last-child {
    margin-bottom: 0;
  }
}

.text {
  font-size: 18px;
  font-weight: bold;

  word-wrap: break-word;
}
