{
  "extends": "eslint:recommended",
  "rules": {
    "indent": ["error", 2],
    "semi": "error",
    "comma-dangle": [ "error", "always-multiline" ],
    "no-console": "error",
    "prefer-const": "error",
    "no-var": "error",
    "block-scoped-var": "error",
    "consistent-return": "off",
    "curly": [ "error", "multi-line" ],
    "default-case": "error",
    "eqeqeq": "error",
    "no-else-return": "error",
    "no-empty-function": "off",
    "no-eq-null": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-extra-label": "error",
    "no-floating-decimal": "error",
    "no-implicit-coercion": "error",
    "no-implied-eval": "error",
    "no-iterator": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-loop-func": "error",
    "no-multi-spaces": [ "error", { "ignoreEOLComments": true } ],
    "no-multi-str": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-param-reassign": "error",
    "no-proto": "error",
    "no-restricted-properties": "error",
    "no-return-assign": "error",
    "no-return-await": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-unmodified-loop-condition": "error",
    "no-unused-expressions": "error",
    "no-useless-call": "error",
    "no-useless-catch": "error",
    "radix": "error",
    "vars-on-top": "error",
    "wrap-iife": [ "error", "any" ]
  },
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  }
}
