/* stylelint-disable */

.well-design {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

  &__svg {

    &-container {
      position: relative;
      top: -57px;
    }

    &-section {
      stroke-linecap: round;
      stroke: #b1c4e3;
      stroke-dasharray: 6 10;
      stroke-width: 3.357;

      &-done {
        stroke: #05f;
        stroke-dasharray: 0;
      }
    }

    &-main {

      &-1 {

        &-0 .well-design__bit {
          transform: translate(0, 0);
        }
      }

      &-2 {

        &-0 .well-design__bit {
          transform: translate(-416px, -104px);
        }

        &-1 .well-design__bit {
          transform: translate(-100px, -12px);
        }
      }

      &-3 {

        &-0 .well-design__bit {
          transform: translate(-439px, -132px);
        }

        &-1 .well-design__bit {
          transform: translate(-240px, -24px);
        }

        &-2 .well-design__bit {
          transform: translate(0, 0);
        }
      }

      &-4 {

        &-0 .well-design__bit {
          transform: translate(-460px, -210px);
        }

        &-1 .well-design__bit {
          transform: translate(-387px, -87px);
        }

        &-2 .well-design__bit {
          transform: translate(-190px, -20px);
        }

        &-3 .well-design__bit {
          transform: translate(0, 0);
        }
      }

      &-5 {

        &-0 .well-design__bit {
          transform: translate(-460px, -210px);
        }

        &-1 .well-design__bit {
          transform: translate(-395px, -92px);
        }

        &-2 .well-design__bit {
          transform: translate(-260px, -28px);
        }

        &-3 .well-design__bit {
          transform: translate(-80px, -10px);
        }

        &-4 .well-design__bit {
          transform: translate(60px, 5px);
        }
      }

      &-6 {

        &-0 .well-design__bit {
          transform: translate(-460px, -210px);
        }

        &-1 .well-design__bit {
          transform: translate(-395px, -92px);
        }

        &-2 .well-design__bit {
          transform: translate(-303px, -42px);
        }

        &-3 .well-design__bit {
          transform: translate(-180px, -19px);
        }

        &-4 .well-design__bit {
          transform: translate(-50px, -6px);
        }

        &-5 .well-design__bit {
          transform: translate(60px, 6px);
        }
      }

      &-7 {

        &-0 .well-design__bit {
          transform: translate(-464px, -230px);
        }

        &-1 .well-design__bit {
          transform: translate(-442px, -155px);
        }

        &-2 .well-design__bit {
          transform: translate(-375px, -78px);
        }

        &-3 .well-design__bit {
          transform: translate(-285px, -37px);
        }

        &-4 .well-design__bit {
          transform: translate(-180px, -19px);
        }

        &-5 .well-design__bit {
          transform: translate(-53px, -5px);
        }

        &-6 .well-design__bit {
          transform: translate(67px, 6px);
        }
      }
    }

    &-additional {

      &-0 .well-design__bit {
        transform: translate(-50px, 24px);
      }

      &-1 .well-design__bit {
        transform: translate(-50px, -35px);
      }

      &-2 .well-design__bit {
        transform: translate(-50px, 5px);
      }

      &-3 .well-design__bit {
        transform: translate(-50px, -25px);
      }

      &-4 .well-design__bit {
        transform: translate(-50px, -16px);
      }

      &-5 .well-design__bit {
        transform: translate(-50px, 14px);
      }

      &-6 .well-design__bit {
        transform: translate(-50px, 24px);
      }
    }

    &-fishbones {

      &-8 .well-design__bit {
        transform: translate(99px, -10px);
      }

      &-7 .well-design__bit {
        transform: translate(39px, 23px);
      }

      &-6 .well-design__bit {
        transform: translate(-1px, -22px);
      }

      &-5 .well-design__bit {
        transform: translate(-55px, 14px);
      }

      &-4 .well-design__bit {
        transform: translate(-101px, -33px);
      }

      &-3 .well-design__bit {
        transform: translate(-156px, 3px);
      }

      &-2 .well-design__bit {
        transform: translate(-196px, -43px);
      }

      &-1 .well-design__bit {
        transform: translate(-244px, -4px);
      }

      &-0 .well-design__bit {
        transform: translate(-284px, -58px);
      }
    }

    &-pilot {

      &-1 .well-design__bit {
        transform: translate(-434px, -50px);
      }

      &-2 .well-design__bit {
        transform: translate(-412px, -40px);
      }
    }

    &-mgrp {
      fill: #781764;
    }
  }
}
