@custom-selector :--isTop .isTop;
@custom-selector :--isRight .isRight;
@custom-selector :--isBottom .isBottom;
@custom-selector :--isLeft .isLeft;
@custom-selector :--isHorizontal :--isTop, :--isBottom;
@custom-selector :--isVertical :--isRight, :--isLeft;

.group {
  --tick-line-color: var(--color-bg-border);
  --tick-line-size: calc-size(4);
  --tick-line-margin: var(--space-2xs);

  display: flex;

  &:--isHorizontal {
    width: 100%;
  }

  &:--isVertical {
    flex-direction: column;

    height: 100%;
  }
}

.tick {
  display: flex;

  @nest :--isHorizontal & {
    flex-direction: column;

    width: 0;
  }

  @nest :--isVertical & {
    height: 0;
  }

  @nest :--isRight & {
    justify-content: flex-start;

    text-align: left;
  }

  @nest :--isLeft & {
    justify-content: flex-end;

    text-align: right;
  }
}

.line {
  background-color: var(--tick-line-color);

  @nest :--isHorizontal & {
    width: 1px;
    height: var(--tick-line-size);
  }

  @nest :--isVertical & {
    width: var(--tick-line-size);
    height: 1px;
  }

  @nest :--isTop &, :--isLeft & {
    order: 1;
  }

  @nest :--isBottom &, :--isRight & {
    order: -1;
  }

  @nest :--isTop & {
    margin-top: var(--tick-line-margin);
  }

  @nest :--isBottom & {
    margin-bottom: var(--tick-line-margin);
  }

  @nest :--isRight & {
    margin-right: var(--tick-line-margin);
  }

  @nest :--isLeft & {
    margin-left: var(--tick-line-margin);
  }
}

.label {
  @nest :--isHorizontal & {
    padding: var(--space-2xs) 0;
  }

  @nest :--isVertical & {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    overflow: hidden;
  }
}
