.main {
  position: relative;

  width: 100%;
  height: 100%;
}

.svg {
  position: absolute;

  overflow: visible;
}

.controls {
  display: flex;
  justify-content: flex-end;

  padding-top: calc-size(15);
}

.control {
  --checkbox-font-size: calc-size(11);
}
