.menu {
  width: 160px;

  background-color: var(--bg-menu);

  border: 1px solid var(--color-dashboard);
}

.widgetWrapper {
  height: 80px;
  width: 110px;

  margin: 10px;

  background-color: var(--bg-widget);

  border: 1px solid var(--color-dashboard);
  border-radius: 5px;
}

.buttons {
  display: flex;
  flex-direction: column;

  margin: 10px;
}

.settings {
  display: flex;
  flex-direction: column;

  margin: 10px;
}
