.diagram {
  display: flex;
  flex-direction: column;
  color: var(--text-color-70);
  font-size: 11px;
}

.line {
  line-height: 15px;
  display: flex;
  align-items: center;
  width: 100%;
}

.line + .line {
  margin-top: 8px;
}

.title {
  min-width: 80px;
}

.progressWrapper {
  width: 100%;
}

.value {
  text-align: right;
  min-width: 25px;
}

.progress {
  height: 2px;
  background: #29b0ff;

  margin: 0 4px;
  flex-basis: auto;
}
