.diagram {
  color: var(--text-color-70);
  font-size: 11px;
}

.line {
  line-height: 15px;
  width: 100%;
}

.line + .line > td {
  padding-top: 8px;
}

.title {
  min-width: 80px;
  max-width: 25%;
  padding-right: 10px;
}

.progressWrapper {
  width: 100%;
}

.value {
  text-align: right;
  padding-left: 10px;
  min-width: 25px;
}

.progress {
  height: 2px;
  background: #29b0ff;

  flex-basis: auto;
}
