.diagram {
  font-size: calc-size(11);

  color: var(--text-color-70);
}

.line {
  line-height: calc-size(15);

  width: 100%;
}

.line + .line > td {
  padding-top: 8px;
}

.title {
  min-width: 80px;
  max-width: 25%;
  padding-right: calc-size(10);
}

.progressWrapper {
  width: 100%;
}

.value {
  min-width: 25px;
  padding-left: calc-size(10);

  text-align: right;
}

.progress {
  flex-basis: auto;

  height: 2px;

  background: #29b0ff;
}
