.table {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);

  position: relative;

  width: 195px;

  letter-spacing: 0.03em;

  color: var(--text-color);
  border: 1px solid #29313d;
  border-radius: 4px;
  background: #111a28;

  &.isClickable {
    cursor: pointer;
  }
}

.openIcon {
  font-family: sans-serif;
  font-size: 14px;

  position: absolute;
  z-index: 1;
  top: 1px;
  right: 3px;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &:last-child {
    border-bottom: none;
  }
}

.item {
  overflow: hidden;

  width: 50%;
  padding: 7px 6px;

  white-space: nowrap;
  text-overflow: ellipsis;

  border-bottom: 1px solid #29313d;

  &:only-child {
    width: 100%;
  }

  &:first-child:nth-last-child(2),
  &:last-child:nth-child(2) {
    width: 100%;
  }

  &:last-child:nth-child(2n + 3) {
    width: 100%;
  }
}

.value {
  display: inline-block;

  min-width: 30px;
  margin-right: 6px;

  text-align: right;

  &:last-child {
    margin-right: 0;
  }
}

.name {
  display: inline-block;
}

.depth {
  overflow: hidden;

  padding: 7px 12px;

  text-align: center;
  text-overflow: ellipsis;
}
