@custom-selector :--isToday .isToday;
@custom-selector :--isDisabled .isDisabled;
@custom-selector :--isSingleDate .isSingleDate;
@custom-selector :--isRange .isRange;
@custom-selector :--isFirstDate .isFirstDate;
@custom-selector :--isLastDate .isLastDate;
@custom-selector :--isSelected .isSelected;
@custom-selector :--isHighlighted .isHighlighted;
@custom-selector :--isSelectedBackwards .isSelectedBackwards;
@custom-selector :--isOnlyOneValue .isOnlyOneValue;

.main {
  --cell-size: 28px;
  --cell-padding-left: var(--space-xs);
  --cell-bg-side-offset: calc(var(--cell-padding-left) / 2);
  --space-between-weeks: var(--space-xs);
  --color-bg-selected-primary: var(--color-control-bg-primary);
  --color-bg-selected-secondary: var(--color-control-bg-ghost);
  --color-bg-hovered: var(--color-control-bg-primary-hover);
  --color-text-selected: var(--color-control-typo-primary);
  --color-text-hovered: var(--color-control-typo-primary-hover);
  --day-bg-color: transparent;
  --day-text-color: var(--color-control-typo-default);
  --z-date: 0;
  --z-date-bg: calc(var(--z-date) - 1);
  --z-date-sub-bg: calc(var(--z-date-bg) - 1);

  display: flex;

  padding-top: var(--space-xl);
  padding-bottom: var(--space-m);
}

.title {
  margin-bottom: var(--space-s);
}

.month {
  display: flex;
  flex-direction: column;

  & + & {
    margin-left: var(--space-m);
  }
}

.weeks {
  --max-weeks-in-month: 6;

  min-height: calc(
    (var(--cell-size) * var(--max-weeks-in-month)) +
      (var(--space-between-weeks) * (var(--max-weeks-in-month) - 1))
  );
}

.row {
  display: flex;

  & + & {
    margin-top: var(--space-between-weeks);
  }

  &.isWithDaynames + & {
    margin-top: var(--space-s);
  }
}

.cell {
  box-sizing: content-box;
  width: var(--cell-size);
  height: var(--cell-size);

  text-align: center;

  &.isWeekDay {
    height: 20px;
  }

  & + & {
    padding-left: var(--cell-padding-left);
  }
}

.cellContent {
  position: relative;
  z-index: var(--z-date);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  .cell.isSelectable & {
    cursor: pointer;
  }

  .cell:--isDisabled & {
    --day-text-color: var(--color-control-typo-disable);

    cursor: not-allowed;
  }

  .cell:--isToday &::after {
    --color-today: var(--color-bg-selected-primary);

    position: absolute;
    z-index: var(--z-date-bg);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    border: 1px solid var(--color-today);
    border-radius: 50%;
  }

  .cell:--isToday &:hover::after {
    --color-today: var(--color-bg-hovered);
  }

  :--isSingleDate &::before {
    position: absolute;
    z-index: var(--z-date-sub-bg);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    border-radius: 50%;
    background-color: var(--day-bg-color);
  }

  :--isSingleDate:--isSelected & {
    --day-text-color: var(--color-text-selected);
  }

  :--isSingleDate:--isSelected &::before {
    --day-bg-color: var(--color-bg-selected-primary);
  }

  :--isSingleDate:not(:--isDisabled) &:hover {
    --day-text-color: var(--color-text-hovered);
  }

  :--isSingleDate:not(:--isDisabled) &:hover::before {
    --day-bg-color: var(--color-bg-hovered);
  }

  :--isRange &::before {
    position: absolute;
    z-index: var(--z-date-sub-bg);
    top: 0;
    right: calc(-1 * var(--cell-bg-side-offset));
    bottom: 0;
    left: calc(-1 * var(--cell-bg-side-offset));

    content: '';

    background-color: var(--day-bg-color);
  }

  :--isRange:first-child &::before {
    left: 0;
  }

  :--isRange:last-child &::before {
    right: 0;
  }

  :--isRange &::after {
    position: absolute;
    z-index: var(--z-date-bg);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background-color: var(--day-bg-color);
  }

  :--isRange:--isSelected:--isFirstDate:not(:--isOnlyOneValue) &::before,
  :--isRange:--isSelected:--isLastDate:not(:--isOnlyOneValue) &::before {
    --day-bg-color: var(--color-bg-selected-secondary);
  }

  :--isRange:--isSelected:--isFirstDate:not(:--isSelectedBackwards) &::before {
    left: 0;

    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  :--isRange:--isSelected:--isFirstDate:--isSelectedBackwards &::before,
  :--isRange:--isSelected:--isLastDate &::before {
    right: 0;

    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }

  :--isRange:--isSelected:--isFirstDate &,
  :--isRange:--isSelected:--isLastDate & {
    --day-text-color: var(--color-text-selected);
  }

  :--isRange:--isSelected:--isFirstDate &::after,
  :--isRange:--isSelected:--isLastDate &::after {
    --day-bg-color: var(--color-bg-selected-primary);

    border-radius: 50%;
  }

  :--isRange:--isSelected:not(:--isFirstDate):not(:--isLastDate) &::before {
    --day-bg-color: var(--color-bg-selected-secondary);
  }

  :--isRange:--isSelected:--isOnlyOneValue &::before {
    right: 0;

    border-radius: 50%;
  }

  :--isRange:--isHighlighted &::before {
    --day-bg-color: var(--color-bg-selected-secondary);
  }

  :--isRange:--isHighlighted:--isFirstDate:not(:--isSelectedBackwards) &::before {
    right: calc(-1 * var(--cell-bg-side-offset));

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  :--isRange:--isHighlighted:--isFirstDate:not(:--isSelectedBackwards).isLastWeekDay &::before {
    right: 0;
  }

  :--isRange:--isHighlighted:--isFirstDate:--isSelectedBackwards &::before {
    right: 0;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  :--isRange:--isHighlighted:--isOnlyOneValue:not(:--isFirstDate):not(:--isSelectedBackwards):hover
    &::after {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }

  :--isRange:--isHighlighted:--isOnlyOneValue:not(:--isFirstDate):--isSelectedBackwards:hover
    &::after {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  :--isRange:--isHighlighted:not(:--isSelectedBackwards):hover &::before {
    right: 0;

    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }

  :--isRange:--isHighlighted:--isSelectedBackwards:hover &::before {
    left: 0;

    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  :--isRange:not(:--isDisabled) &:hover {
    --day-text-color: var(--color-text-hovered);
  }

  :--isRange:not(:--isDisabled) &:hover::after {
    --day-bg-color: var(--color-bg-hovered);

    border-radius: 50%;
  }
}

.cellContentText {
  color: var(--day-text-color);
}
