.line {
  fill: none;
  stroke: #0aa5ff;
  stroke-width: 2;

  pointer-events: none;

  opacity: 0.4;

  &.isAnimated {
    --line-length: 1000; /* переопределяется в js */
    --animated-segment: 30;

    opacity: 1;
    stroke-dasharray: var(--animated-segment) var(--line-length);
    stroke-dashoffset: calc(-1 * var(--line-length));

    animation: dash ease-in infinite;

    @keyframes dash {
      20%,
      100% {
        stroke-dashoffset: var(--animated-segment);
      }
    }
  }
}
