@custom-selector :--main .main;
@custom-selector :--isHidden :not(.isVisible);

:--main {
  --button-size: 48px;
  --show-transition: 0.15s ease-out;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 32, 51, 0.9);

  transition: opacity var(--show-transition);

  &:--isHidden {
    pointer-events: none;

    opacity: 0;
  }
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transition: transform var(--show-transition);

  @nest :--main:--isHidden & {
    transform: scale(0.8);
  }

  @nest :--main.isOpening & * {
    /* Чтобы не было видно пролистывания картинок в момент открытия */
    transition-duration: 0s;
  }
}

.items {
  position: relative;

  flex-grow: 1;

  width: 100%;
  height: 100%;

  transition: transform 0.25s ease;
}

.item {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
  padding: 170px;
}

.preview {
  position: absolute;
  right: 0;
  bottom: var(--space-5xl);
  left: 0;

  display: flex;
  justify-content: center;

  width: 60vw;
  margin: auto;
}

.button {
  position: absolute;

  width: var(--button-size);
  height: var(--button-size);

  cursor: pointer;

  color: var(--color-control-typo-clear);

  &:hover {
    color: var(--color-control-typo-clear-hover);
  }

  &.close {
    top: var(--space-2xl);
    right: var(--space-2xl);
  }

  &.toLeft,
  &.toRight {
    top: calc(50% - var(--button-size) / 2);
  }

  &.toLeft {
    left: 0;

    .icon {
      transform: scale(-1);
    }
  }

  &.toRight {
    right: 0;
  }
}
