.chartLine {
  display: block;

  width: 100%;
  height: var(--chart-line-size);
  -webkit-appearance: progress-bar;

  &[value] {
    -webkit-appearance: none;
    appearance: none;
  }

  &[value]::-webkit-progress-bar {
    border-radius: 3px;
    background-color: #13384e;
  }

  &.isWithData[value]::-webkit-progress-value {
    border-radius: inherit;
    background-color: currentColor;
  }

  &.isNotFull[value]::-webkit-progress-value {
    border-radius: 3px 0 0 3px;
  }
}

.chart {
  padding-top: calc((var(--summary-size) - var(--chart-line-size)) / 2);
}

.progress {
  width: 100%;
}
