@custom-selector :--top .top;
@custom-selector :--right .right;
@custom-selector :--bottom .bottom;
@custom-selector :--left .left;

.hint {
  --arrow-size: calc-size(var(--hint-arrow-size));
  --hint-bg-color: #fff;

  font-size: calc-size(12);
  line-height: calc-size(17);

  position: absolute;

  padding: calc-size(10) calc-size(12);

  color: #002033;
  border-radius: 4px;
  background-color: var(--hint-bg-color);

  &::after {
    position: absolute;

    content: '';

    border: var(--arrow-size) solid transparent;
  }

  &:--top {
    transform: translate(50%, -50%);
  }

  &:--top::after {
    top: calc(100% - 1px);
    left: 50%;

    border-top-color: var(--hint-bg-color);

    transform: translate(-50%, 0);
  }

  &:--right {
    transform: translateX(calc(100% + 1.5 * var(--arrow-size))) translateY(-50%);
  }

  &:--right::after {
    top: 50%;
    right: calc(100% - 1px);

    border-right-color: var(--hint-bg-color);

    transform: translate(0, -50%);
  }

  &:--bottom {
    transform: translate(50%, 50%);
  }

  &:--bottom::after {
    bottom: calc(100% - 1px);
    left: 50%;

    border-bottom-color: var(--hint-bg-color);

    transform: translate(-50%, 0);
  }

  &:--left {
    transform: translateX(calc(-1.5 * var(--arrow-size))) translateY(-50%);
  }

  &:--left::after {
    top: 50%;
    left: calc(100% - 1px);

    border-left-color: var(--hint-bg-color);

    transform: translate(0, -50%);
  }
}
