.main {
  width: 110px;
  max-width: 117px;
  margin: 0 10px;

  &:last-child {
    margin-right: 0;
  }
}

.icon {
  position: relative;

  display: inline-block;

  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}

.newLabel {
  font-size: 8px;
  line-height: 1;

  position: absolute;
  bottom: 100%;
  left: 100%;

  display: inline-block;

  padding: 1px 2px 0;

  color: #202020;
  border-radius: 2px;
  background: #8bb1ff;

  transform: translate(-3px, 3px);
}

.title {
  font-size: 13px;
  line-height: 15px;

  margin-bottom: 5px;

  word-wrap: break-word;

  color: #878ca8;

  &:last-child {
    margin-bottom: 0;
  }
}

.description {
  font-size: var(--font-size-medium);
  font-weight: bold;
  line-height: 18px;

  letter-spacing: -0.0241em;
  word-wrap: break-word;

  color: var(--text-color);
}
