@custom-selector :--main .control;
@custom-selector :--horizontal :--main.isHorizontal;
@custom-selector :--vertical :--main.isVertical;

:--main {
  position: absolute;

  height: 20px;

  text-align: right;

  color: var(--text-color-70);
}

:--vertical {
  bottom: 0;
  left: 0;
}

:--horizontal {
  top: 0;
}

.controls {
  position: absolute;

  display: flex;

  @nest :--horizontal & {
    right: 8px;
    bottom: 0;
  }

  @nest :--vertical & {
    right: 0;
    bottom: 0;

    flex-direction: column;
  }

  @nest :--main:not(:hover) & {
    display: none;
  }
}

.controlGroup {
  display: flex;
  align-items: center;

  background-color: rgba(2, 39, 59, 0.6);

  @nest :--horizontal & {
    right: 8px;
    bottom: 0;
    writing-mode: vertical-rl;
  }

  @nest :--vertical & {
    flex-direction: row;
  }

  & + & {
    @nest :--horizontal & {
      margin-left: 4px;
    }

    @nest :--vertical & {
      margin-top: 4px;
    }
  }
}

.labels {
  display: inline;
}

.checkbox {
  display: none;

  & + label {
    position: relative;

    display: inline-block;

    box-sizing: border-box;
    width: 16px;
    height: 16px;

    border: 2px solid #0082cc;
    border-radius: 3px;
  }

  &:checked + label {
    color: #0082cc;
    background-color: #00273d;

    &::after {
      font-size: 14px;

      position: absolute;
      top: -2px;
      left: 1px;

      content: '\2714';

      color: #0082cc;
    }
  }
}
