.main {
  display: flex;

  box-sizing: border-box;
  height: 100%;
  padding: var(--space-xl);
}

.sources {
  flex-shrink: 0;

  width: 25%;
  min-width: 0;
  margin-right: var(--space-xl);
}

.consumers {
  flex-grow: 1;
  flex-shrink: 0;
}
