.text {
  position: relative;

  display: flex;
  align-items: center;
}

.content {
  margin-right: calc-size(10);
  margin-bottom: 0;
}

.toggleable {
  position: relative;
}

.button {
  --color-opacity: 0.7;

  font-size: 0;

  width: calc-size(20);
  height: calc-size(20);

  cursor: pointer;

  color: rgba(246, 251, 253, var(--color-opacity));

  &:hover {
    --color-opacity: 0.9;
  }
}

.sizeXS,
.sizeS,
.sizeL {
  width: calc-size(16);
  height: calc-size(16);
  margin-top: calc-size(4);
}

.sizeXL,
.size3XL {
  width: calc-size(20);
  height: calc-size(20);
}

.sizeXL {
  margin-top: calc-size(8);
}

.size3XL {
  margin-top: calc-size(13);
}

.tooltip {
  pointer-events: auto;
}
