.main {
  position: relative;

  display: flex;
  align-items: center;
}

.text {
  white-space: pre-wrap;

  &.isCropped {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp);
    -webkit-box-orient: vertical;

    overflow: hidden;

    &.isWithGradient {
      mask-image: linear-gradient(to top, transparent 0, #fff 2em);
    }
  }
}

.button {
  --color-opacity: 0.7;

  font-size: 0;

  display: block;

  cursor: pointer;

  color: var(--color-control-typo-clear);

  &:hover {
    color: var(--color-control-typo-clear-hover);
  }
}
