.progress {
  display: block;

  width: 100%;
  height: var(--chart-line-size);
  -webkit-appearance: progress-bar;

  &[value] {
    -webkit-appearance: none;
    appearance: none;
  }

  &[value]::-webkit-progress-bar {
    border-radius: 3px;
    background-color: var(--color-bg-ghost);
  }

  &.isWithData[value]::-webkit-progress-value {
    border-radius: inherit;
    background-color: currentColor;
  }

  &.isNotFull[value]::-webkit-progress-value {
    border-radius: 3px 0 0 3px;
  }

  &.sizeXS,
  &.sizeS {
    --chart-line-size: calc-size(4);
  }

  &.sizeM {
    --chart-line-size: calc-size(12);
  }

  &.sizeL {
    --chart-line-size: calc-size(20);
  }
}
