.main {
  width: 100%;
}

.item {
  display: inline-flex;
  font-size: 13px;
  line-height: 18px;
  margin-right: 15px;
  align-items: center;
}

.marker {
  width: 8px;
  height: 8px;
  vertical-align: middle;
  margin-right: 4px;
  border-radius: 10px;
}

.value {
  font-weight: bold;

  &::before {
    content: ':\00a0';
    font-weight: normal;
  }
}
