.text-with-icon {
  align-items: center;
  display: inline-flex;
  flex-direction: row;

  & > * + * {
    margin-left: 5px;
  }

  &__icon {
    color: inherit;
    display: inline-flex;
    flex-shrink: 0;

    &_color_normal {
      color: var(--color-important);
    }

    &_color_danger {
      color: var(--color-danger);
    }

    &_color_warning {
      color: var(--color-warning);
    }
  }
}
