.main {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  height: 86px;
  padding: 8px 12px;

  background: rgba(246, 251, 253, 0.08);
}

.text {
  flex: 1;
}

.label {
  background: rgb(10, 165, 255, 0.3);
}
