.main {
  background: rgba(246, 251, 253, 0.08);
  padding: 8px 12px;
  height: 86px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text {
  flex: 1;
}

.label {
  background: rgb(10, 165, 255, 0.3);
}
