@custom-selector :--medium .sizeM;

.bar {
  --round-radius: calc-size(2);

  width: 100%;
  height: 100%;

  &:--medium.borderTop {
    border-radius: var(--round-radius) var(--round-radius) 0 0;
  }

  &:--medium.borderRight {
    border-radius: 0 var(--round-radius) var(--round-radius) 0;
  }

  &:--medium.borderBottom {
    border-radius: 0 0 var(--round-radius) var(--round-radius);
  }

  &:--medium.borderLeft {
    border-radius: var(--round-radius) 0 0 var(--round-radius);
  }
}

.label {
  font-size: var(--size-text-xs);

  fill: var(--color-typo-primary);
}
