.main {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;

  min-height: 120px;

  border: 1px solid var(--white-border-color-opacity-10);
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
}

.item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;

  width: 33.33333%;
  min-width: 0;
  padding: 0 10px;

  word-wrap: break-word;

  border-right: 1px solid var(--white-border-color-opacity-10);

  &:last-child {
    border-right: none;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 46px;
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.text {
  font-size: var(--font-size-medium);
  font-weight: bold;
  line-height: 18px;

  min-width: 0;
  max-width: 100%;
  min-height: 40px;

  text-align: center;
  letter-spacing: -0.0241em;
  word-wrap: break-word;

  color: var(--text-color);
}
