@custom-selector :--main .progressLine;

:--main {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;

  &.typeLine {
    background-color: color-mod(var(--text-color-additional) alpha(30%));
    border-radius: 3px;
    display: inline-block;
    height: 2px;
    width: 80px;
  }

  &.typeHollow {
    align-items: center;
    border-radius: var(--border-radius);
    border: 1px solid transparent;
    display: inline-flex;
    height: 22px;
    justify-content: center;
    width: 90px;

    &.statusDanger {
      border-color: var(--color-danger);
    }

    &.statusNormal {
      border-color: var(--color-important);
    }

    &.statusWarning {
      border-color: var(--color-warning);
    }
  }
}

.progress {
  height: 100%;
  position: absolute;
  top: 0;
  transform: translateX(-100%);
  transition: left 0.3s ease-out;
  width: 100%;
  z-index: 0;

  @nest :--main.statusDanger & {
    background-color: var(--color-danger);
  }

  @nest :--main.statusNormal & {
    background-color: var(--color-important);
  }

  @nest :--main.statusWarning & {
    background-color: var(--color-warning);
  }
}

.content {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
