.main {
  --bg-color: var(--color-bg-default);
  --bg-opacity: 0.9;

  /* Задаются через js */
  --arrow-size: 0;
  --arrow-offset: 0;

  position: absolute;

  pointer-events: none;

  &.isHoverable {
    pointer-events: auto;
  }
}

/* Фон отдельным элементом, чтобы можно было добавить ему opacity */
.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: var(--bg-opacity);
  border-radius: var(--control-radius);
  background: var(--bg-color);
  box-shadow: 0 1px 1px rgba(0, 32, 51, 0.07), 0 2px 2px rgba(0, 32, 51, 0.07),
    0 4px 4px rgba(0, 32, 51, 0.07), 0 6px 8px rgba(0, 32, 51, 0.07),
    0 8px 16px rgba(0, 32, 51, 0.07);
}

.content {
  position: relative; /* чтобы отображаться над фоном */

  box-sizing: border-box;
  width: max-content;
  padding: var(--space-xs);

  &.sizeS {
    max-width: 150px;
  }

  &.sizeM {
    max-width: 260px;
  }

  &.sizeL {
    max-width: 400px;
  }
}

.arrow {
  position: absolute;

  opacity: var(--bg-opacity);
  border: var(--arrow-size) solid transparent;

  :matches(.upLeft, .upCenter, .upRight) & {
    bottom: 0;

    border-top-color: var(--bg-color);

    transform: translateY(100%);
  }

  .upLeft & {
    right: var(--arrow-offset);
  }

  .upCenter & {
    left: calc(50% - var(--arrow-size));
  }

  .upRight & {
    left: var(--arrow-offset);
  }

  :matches(.downLeft, .downCenter, .downRight) & {
    top: 0;

    border-bottom-color: var(--bg-color);

    transform: translateY(-100%);
  }

  .downLeft & {
    right: var(--arrow-offset);
  }

  .downCenter & {
    left: calc(50% - var(--arrow-size));
  }

  .downRight & {
    left: var(--arrow-offset);
  }

  :matches(.rightUp, .rightCenter, .rightDown) & {
    left: 0;

    border-right-color: var(--bg-color);

    transform: translateX(-100%);
  }

  .rightUp & {
    bottom: var(--arrow-offset);
  }

  .rightCenter & {
    top: calc(50% - var(--arrow-size));
  }

  .rightDown & {
    top: var(--arrow-offset);
  }

  :matches(.leftUp, .leftCenter, .leftDown) & {
    right: 0;

    border-left-color: var(--bg-color);

    transform: translateX(100%);
  }

  .leftUp & {
    bottom: var(--arrow-offset);
  }

  .leftCenter & {
    top: calc(50% - var(--arrow-size));
  }

  .leftDown & {
    top: var(--arrow-offset);
  }
}
