.main {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  height: 100%;
  padding: var(--space-m);

  color: var(--color-typo-primary);
  border: 1px solid var(--color-bg-border);
}

.header {
  padding-bottom: var(--space-s);

  border-bottom: 1px solid var(--color-bg-border);
}

.content {
  display: flex;
  flex-grow: 1;

  margin-top: var(--space-m);
}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  @mixin button;
  padding: var(--space-2xs);

  cursor: pointer;
  text-align: left;

  border: 1px solid var(--color-bg-border);

  & + & {
    margin-top: var(--space-m);
  }

  &.isSelected {
    background: var(--color-control-bg-ghost);
  }

  &:hover {
    background: var(--color-control-bg-ghost-hover);
  }
}

.sidePanel {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;

  margin-left: var(--space-m);
  padding-left: var(--space-m);

  border-left: 1px solid var(--color-bg-border);
}

.settings {
  display: grid;
  align-items: baseline;

  padding: var(--space-m) 0;
  grid-template-columns: 1fr auto;
  grid-row-gap: var(--space-m);
  grid-column-gap: var(--space-m);
}

.previewPanel {
  align-self: stretch;
  flex-grow: 1;

  margin-left: var(--space-m);
  padding-left: var(--space-m);

  border-left: 1px solid var(--color-bg-border);
}

.preview {
  margin-top: var(--space-l);
}
