.fluidContacts {
  color: var(--text-color);
  border: 1px solid var(--white-border-color-opacity-10);
  border-radius: 4px;
  background-color: #030912;
}

.item {
  position: relative;

  padding: 14px 19px;

  border-bottom: 1px solid var(--white-border-color-opacity-10);

  &:last-child {
    border-bottom: none;
  }
}

.title {
  font-size: var(--font-size-medium);
  font-weight: bold;
}

.value {
  position: relative;

  padding: 8px 0 8px 32px;
}

.gnk {
  position: absolute;
  top: 8px;
  left: 0;

  width: 16px;
  height: 16px;

  border-radius: 2px;

  &.typeGas {
    background-color: #598fe9;
  }

  &.typeOil {
    background-color: #8d0c75;
  }

  &.typeWater {
    background-color: #1849a4;
  }
}

.name {
  margin-bottom: 4px;

  color: var(--text-color-additional);

  &:last-child {
    margin-bottom: 0;
  }
}

.targetInterval {
  font-weight: bold;
}

.tiValue {
  font-size: 20px;
  line-height: 20px;
}

.tiUnits {
  font-size: 16px;
  line-height: 20px;
}

.depth {
  position: absolute;
  top: 100%;
  right: 9px;

  padding: 2px 6px;

  color: var(--text-color-additional);
  border: var(--white-color);
  border-radius: 4px;
  background-color: #11161f;

  transform: translateY(-50%);
}
