/* Исходная тема: https://github.com/gpn-prototypes/ui-kit/blob/master/src/components/Theme/Theme.css */

/* stylelint-disable-next-line selector-class-pattern */
:global(.Theme_gpnScaling) {
  --graphics-size-xs: calc-size(12);
  --graphics-size-s: calc-size(16);
  --graphics-size-m: calc-size(24);
  --graphics-size-l: calc-size(32);
  --graphics-size-xl: calc-size(40);
  --graphics-size-2xl: calc-size(60);
  --graphics-size-3xl: calc-size(80);
  --graphics-size-4xl: calc-size(120);
}
