/* Исходная тема: https://github.com/whitepapertools/whitepaper-bem/blob/master/theme/theme.post.css */

/* stylelint-disable-next-line selector-class-pattern */
:global(.theme_constructor-scaling) {
  --shadow-cloud: 0 calc-size(20) calc-size(20) var(--color-bg-ghost);
  --graphics-size-s: calc-size(16);
  --graphics-size-m: calc-size(24);
  --graphics-size-l: calc-size(32);
  --graphics-size-xl: calc-size(40);
  --graphics-size-2xl: calc-size(60);
  --graphics-size-3xl: calc-size(80);
  --graphics-size-4xl: calc-size(120);
  --radius-m: calc-size(16);
  --border-width-default: 1px;

  font-size: var(--size-text-base);
}
