/* Сделан запрет на root, чтобы нельзя было его использовать, кроме текущего файла */
/* stylelint-disable-next-line */
:root {
  --base-size: 16;

  /* Цвета */
  --opaque-color: rgba(0, 0, 0, 0);
  --bg-color: rgb(0, 32, 51);
  --bg-color-white: rgba(255, 255, 255, 0.1);
  --bg-constructor-butttons: rgba(0, 0, 0, 0.5);
  --bg-constructor-butttons-hover: rgba(0, 0, 0, 0.8);
  --bg-box: #002d47;
  --bg-widget: #0d2337;
  --bg-dashboard: #061e31;
  --bg-menu: #2d70ae;
  --color-dashboard: #506573;
  --table-even-row-background: rgba(0, 0, 0, 0.05);

  /* Размеры */
  --resizer-width: 5px;

  /* z-индексы */
  --z-filter--tooltip: 1;
  --z-multi-select: calc(var(--z-filter--tooltip) + 1);
  --resizer-z: 1;
  --z-box-wrapper: 1;

  /* Анимации */
  --fast-transition: 0.15s ease-out;

  /* Скроллбар */
  --scroll-bar-color: rgba(255, 255, 255, 0.7);
  --scrollbar-handle-size: 2px;
  --scrollbar-padding: 4px;
  --scrollbar-size: calc(var(--scrollbar-handle-size) + 2 * var(--scrollbar-padding));
}
