/* Сделан запрет на root, чтобы нельзя было его использовать, кроме текущего файла */
/* stylelint-disable-next-line */
:root {
  --base-size: 16;

  /* Размеры */
  --resizer-width: 5px;

  /* z-индексы */
  --z-filter--tooltip: 1;
  --z-multi-select: calc(var(--z-filter--tooltip) + 1);
  --resizer-z: 1;
  --z-box-wrapper: 1;

  /* Анимации */
  --fast-transition: 0.15s ease-out;

  /* Скроллбар */
  --scroll-bar-color: var(--color-control-typo-ghost);
  --scrollbar-handle-size: 2px;
  --scrollbar-padding: var(--control-radius);
  --scrollbar-size: calc(var(--scrollbar-handle-size) + 2 * var(--scrollbar-padding));
}
