.summary {
  font-size: calc-size(24);
  line-height: calc-size(24);

  padding-left: calc-size(12);

  white-space: nowrap;

  color: inherit;

  &.sizeS {
    font-size: calc-size(20);
    line-height: calc-size(20);
  }

  &.sizeM,
  &.sizeL {
    font-size: calc-size(24);
    line-height: calc-size(24);
  }
}
