.summary {
  font-size: var(--summary-size);
  line-height: var(--summary-size);

  padding-left: calc-size(12);

  white-space: nowrap;

  color: inherit;

  &.hasCaption {
    padding-top: var(--caption-height);
  }
}
