.main {
  width: 100%;
  margin: 0;
  padding: 0;

  border-spacing: 0;
  border-collapse: separate;

  border: none;
  background: none;

  & td {
    padding: var(--space-s) 0;

    vertical-align: top;
  }

  & th {
    font-weight: normal;

    width: 50px;
    padding: var(--space-s) var(--space-m);

    border-bottom: 1px solid var(--separate-line-color);
  }

  & tbody tr:nth-child(even) {
    background-color: var(--color-bg-stripe);
  }
}
