/* stylelint-disable */
.main {
  --width-default: 700px;
  background: var(--color-bg-default);

  .wrapper {
    font-family: var(--font-primary);

    max-width: var(--width-default);
    margin-right: auto;
    margin-left: auto;

    color: var(--color-typo-primary);
  }

  [class*='docblock-source'] {
    background: var(--color-bg-secondary) !important;
  }

  [class*='sbdocs-wrapper '] {
    background: transparent !important;
  }

  h1 {
    font-size: var(--size-text-4xl);

    margin-bottom: 0.4em;
  }

  h2 {
    font-size: var(--size-text-3xl);

    padding-bottom: 0;

    border-bottom: none;
  }

  h3 {
    font-size: var(--size-text-2xl);
  }

  h4 {
    font-size: var(--size-text-l);
  }

  p {
    font-size: var(--size-text-m);
    line-height: var(--line-height-text-l);

    margin-top: 0;
    margin-bottom: 1em;

    a {
      font-size: inherit;
    }
  }

  a {
    font-size: var(--size-text-m);
    line-height: var(--line-height-text-l);
  }

  blockquote {
    font-size: var(--size-text-m);

    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 1em;
    padding: 0.8em;

    border-left-color: var(--color-bg-ghost);
    border-radius: 8px;
    background-color: var(--color-bg-secondary);
  }

  /* p code {
    font-size: var(--size-text-s);

    border: 1px solid var(--color-bg-stripe);
    background-color: var(--color-bg-ghost);
  } */

  table {
    font-size: var(--size-text-s);
    line-height: var(--line-height-text-s);

    width: 100%;

    background: var(--color-bg-default);

    tr {
      border-top: 1px solid var(--color-bg-border);
      background-color: var(--color-bg-secondary) !important;
    }

    tr th:empty {
      padding: 0;

      border: none;
    }

    tr th,
    tr td {
      padding: var(--space-xs) var(--space-s);
    }

    tr th:not(:last-child),
    tr td:not(:last-child) {
      border-right: 1px solid var(--color-bg-border);
    }

    code {
      font-size: var(--size-text-xs);
    }
  }

  ul {
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 1.6em;
    padding-left: var(--space-l);
  }

  :global {
    h2.sbdocs-h2,
    h3.sbdocs-h3,
    h4.sbdocs-h4 {
      line-height: var(--line-height-text-xs);

      margin-top: 1.6em;
      margin-bottom: 0.4em;
    }

    h1.sbdocs-h1 a[aria-hidden='true'],
    h2.sbdocs-h2 a[aria-hidden='true'],
    h3.sbdocs-h3 a[aria-hidden='true'],
    h4.sbdocs-h4 a[aria-hidden='true'] {
      position: absolute;
      top: 50%;
      left: 0;

      display: flex;
      float: none;
      align-items: center;

      margin-left: 0;
      padding: var(--space-xs);

      transform: translate(-100%, -50%);
    }

    h1 + h2.sbdocs-h2,
    h2 + h3.sbdocs-h3,
    h3 + h4.sbdocs-h4,
    h1 + div + h2.sbdocs-h2,
    h2 + div + h3.sbdocs-h3,
    h3 + div + h4.sbdocs-h4 {
      margin-top: 0.2em;
    }

    pre.sbdocs > div {
      font-size: var(--size-text-m);

      margin-top: 0;
      margin-bottom: 2.2em;
    }
  }
}
/* stylelint-enable */
