.circle {
  display: inline-flex;

  box-sizing: border-box;
  width: calc-size(12);
  height: calc-size(12);

  vertical-align: middle;

  border-radius: 100%;

  &.isPlan {
    opacity: 0.4;
  }

  &.isForecast {
    border-width: 2px;
    border-style: solid;
  }
}

.label {
  display: inline-block;

  margin: 0 var(--space-2xs);
}

.dateBlock {
  & + & {
    margin-top: var(--space-s);
  }
}

.comment {
  margin-top: var(--space-s);
}
