.main {
  &.deviation {
    grid-area: deviation;
  }

  &.hse {
    grid-area: hse;
  }

  &.recommendations {
    grid-area: recom;

    position: relative;

    &::after {
      position: absolute;
      top: 26px;
      right: 10px;

      width: 1px;
      height: 20px;

      content: '';

      background: rgba(#fff, 0.2);
    }
  }

  &.recommendationsRefused {
    grid-area: recom-ref;
  }
}

.title {
  margin-bottom: 4px;

  color: #878ca8;

  &.normal {
    color: #2fcc69;
  }

  &.warning {
    color: var(--color-warning);
  }

  &.danger {
    color: #f00;
  }
}

.valueItem {
  font-weight: bold;
  line-height: 32px;
}

.value {
  font-size: 28px;

  letter-spacing: 0.0121em;
}

.units {
  font-size: 16px;
  font-weight: bold;

  letter-spacing: 0.0121em;
}
