.main {
  display: flex;
  justify-content: space-between;
}

.quarters {
  display: flex;
  align-items: baseline;
}

.button {
  user-select: none;

  & + & {
    margin-left: var(--space-xs);
  }
}
