.company {
  font-size: var(--font-size-medium);
  font-weight: bold;
  line-height: 18px;

  margin-bottom: 2px;

  color: #fff;
}

.info {
  font-size: var(--main-font-size);
  line-height: 16px;

  white-space: nowrap;

  color: #8a8a8d;
}
