@custom-selector :--main .zoom;
@custom-selector :--horizontal :--main.isHorizontal;
@custom-selector :--vertical :--main.isVertical;

:--main {
  position: absolute;
  z-index: 2;
}

.dragHandle {
  position: absolute;

  cursor: grab;

  color: var(--color-control-typo-ghost);
  border-radius: 2px;
  background: currentColor;

  transition: opacity var(--fast-transition);

  :--vertical & {
    width: 4px;
  }

  :--horizontal & {
    height: 4px;
  }

  &.isHidden {
    pointer-events: none;

    opacity: 0;
  }

  &::before {
    --click-offset: -8px;

    position: absolute;
    top: var(--click-offset);
    right: calc(2 * var(--click-offset));
    bottom: var(--click-offset);
    left: calc(2 * var(--click-offset));

    content: '';
  }

  &:active {
    cursor: grabbing;

    color: var(--color-control-typo-ghost-hover);
  }
}

.buttons {
  position: absolute;

  display: flex;

  :--horizontal & {
    right: 8px;
    bottom: 0;
  }

  :--vertical & {
    bottom: 0;
    left: 0;

    flex-direction: column;
  }

  :--main:not(:hover) & {
    display: none;
  }
}

.buttonGroup {
  display: flex;

  background: var(--color-control-bg-ghost);

  :--horizontal & {
    right: 8px;
    bottom: 0;
  }

  :--vertical & {
    flex-direction: column-reverse;
  }

  & + & {
    :--horizontal & {
      margin-left: 4px;
    }

    :--vertical & {
      margin-top: 4px;
    }
  }
}

.button {
  --button-size: 14px;
  --button-radius: 2px;

  font-size: 13px;
  line-height: var(--button-size);

  box-sizing: content-box;
  width: var(--button-size);

  color: var(--color-control-typo-ghost);

  transition: color var(--fast-transition);

  &:first-child {
    :--horizontal & {
      border-top-left-radius: var(--button-radius);
      border-bottom-left-radius: var(--button-radius);
    }

    :--vertical & {
      border-bottom-right-radius: var(--button-radius);
      border-bottom-left-radius: var(--button-radius);
    }
  }

  &:last-child {
    :--horizontal & {
      border-top-right-radius: var(--button-radius);
      border-bottom-right-radius: var(--button-radius);
    }

    :--vertical & {
      border-top-left-radius: var(--button-radius);
      border-top-right-radius: var(--button-radius);
    }
  }

  & + & {
    :--horizontal & {
      margin-left: -1px;
    }

    :--vertical & {
      margin-bottom: -1px;
    }
  }

  &:disabled {
    color: var(--color-control-typo-disable);
  }

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      color: var(--color-control-typo-ghost-hover);
    }
  }
}

.resetButton {
  font-size: 9px;
}
