.main {
  --min-size: 0;

  position: relative;

  width: 100%;
  min-width: var(--min-size);
  height: 100%;
  min-height: var(--min-size);
}

.svg {
  position: absolute;

  max-width: 100%;
  max-height: 100%;

  &:not(.halfBottom) {
    top: 0;
  }

  &:not(.halfRight) {
    left: 0;
  }

  &.halfLeft {
    filter: drop-shadow(-10px 0 5px var(--bg-box));
  }

  &.halfRight {
    right: 0;
    filter: drop-shadow(10px 0 5px var(--bg-box));
  }

  &.halfBottom {
    bottom: 0;
  }

  &.halfLeft,
  &.halfRight {
    height: 100%;
  }

  &.halfTop,
  &.halfBottom {
    width: 100%;
  }
}

.tooltipValue {
  font-weight: 700;

  margin-left: calc-size(12);
}
