.main {
  position: relative;

  width: 100%;
  height: 100%;

  & svg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }

  & svg path {
    transition: 0.3s all;

    &:hover {
      opacity: 1 !important;
    }
  }
}

.tooltipValue {
  font-weight: 700;

  margin-left: calc-size(12);
}
