.container {
  max-width: calc-size(400);
}

.title {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.divider {
  height: 1px;
  margin: var(--space-xs) calc(-1 * var(--tooltip-horizontal-padding));

  background-color: rgba(0, 39, 61, 0.15);
}

.content {
  display: grid;

  grid-row-gap: var(--space-s);
  grid-column-gap: var(--space-s);

  width: 100%;
  grid-template-columns: 1fr auto;
}
