.main {
  font-family: var(--main-font-family);
  font-size: 16px;
  line-height: 18px;

  position: relative;

  color: var(--text-color-additional);
  background-color: var(--bg-well-passport);

  &.isHoverable {
    cursor: pointer;
  }
}

.cells {
  display: flex;
  flex-direction: row;
}

.cell {
  min-width: 0;
  padding: 18px 20px 15px;

  white-space: nowrap;
  word-wrap: break-word;

  border-right: 1px solid rgba(235, 64, 64, 0.05);

  &:first-child {
    padding-left: 34px;
  }

  &:last-child {
    flex-grow: 1;

    padding-right: 74px;

    border-right: none;
  }
}

.title {
  &:empty::before {
    display: inline-block;

    content: ' ';
  }
}

.content {
  margin-top: 12px;

  color: #fff;

  &:empty::before {
    display: inline-block;

    content: ' ';
  }

  &:first-child {
    margin-top: 0;
  }

  &.colorDark {
    color: var(--text-color-additional);
  }
}

.contentStrong {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;

  overflow: hidden;

  max-width: 310px;
  margin-top: 6px;

  white-space: nowrap;
  letter-spacing: 0.03em;
  text-overflow: ellipsis;

  &:first-child {
    margin-top: 0;
  }
}

.textItem {
  margin-right: 14px;

  &:last-child {
    margin-right: 0;
  }
}

.responsiblePersons {
  display: flex;
  flex-direction: row;

  &.hasPhones {
    margin-top: -7px;
    margin-bottom: -6px;
  }
}

.responsiblePerson {
  margin-right: 14px;

  letter-spacing: 0.03em;

  &:last-child {
    margin-right: 0;
  }
}

.responsiblePersonName {
  margin-bottom: 2px;

  &:last-child {
    margin-bottom: 0;
  }
}

.responsiblePersonPhone {
  font-size: 14px;

  color: rgba(#fff, 0.5);
}

.wellsNavigation {
  position: absolute;
  z-index: 100;
  top: 50%;
  right: 35px;

  transform: translate(50%, -50%);
}
