.main {
  display: flex;
  align-items: center;

  padding: 0 var(--space-2xs);

  user-select: none;
  white-space: nowrap;

  border-radius: 2px;
  background: var(--color-control-bg-ghost);
}

.label {
  overflow: hidden;

  margin-top: 0;
  margin-right: var(--space-xs);
  margin-bottom: 0;

  text-overflow: ellipsis;

  color: var(--color-control-typo-ghost);
}

.buttonCross {
  @mixin button;

  position: relative;

  cursor: pointer;

  color: var(--color-control-typo-clear);

  &:hover {
    color: var(--color-control-typo-clear-hover);
  }

  &::before {
    --click-offset: calc(-1 * var(--space-2xs));

    position: absolute;
    top: var(--click-offset);
    right: var(--click-offset);
    bottom: var(--click-offset);
    left: var(--click-offset);

    content: '';
  }
}

.icon {
  display: block;
}
