@custom-selector :--main .pin;

:--main {
  --pin-color: #494f59;

  background: var(--bg-color-white-semi);
  border: var(--white-border);
  box-sizing: border-box;
  border-radius: var(--border-radius);
  color: #fff;
  letter-spacing: 0.03em;
  max-width: 136px;
  min-width: 102px;
  padding: 6px 11px;
  position: relative;

  &.positionLeft {
    padding-left: 20px;
  }

  &.positionRight {
    padding-right: 20px;
  }

  &.skinOutside.positionLeft {
    padding-left: 11px;
  }
}

.edge {
  line-height: 0;
  position: absolute;
  top: 50%;
  width: 57px;

  @nest :--main.skinOutside & {
    top: 14px;
    width: 27px;
  }

  @nest :--main.positionRight & {
    left: calc(100% - 10px);
  }

  @nest :--main.skinOutside.positionRight & {
    left: 100%;
  }

  @nest :--main.positionLeft & {
    right: calc(100% - 10px);
  }

  @nest :--main.skinOutside.positionLeft & {
    right: 100%;
  }

  &::before {
    background-color: var(--pin-color);
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 5px;
    top: -2px;
    position: absolute;
    width: 5px;

    @nest :--main.positionLeft & {
      right: 0;
    }

    @nest :--main.skinOutside & {
      background-color: #9fa3a8;
    }

    @nest :--main.skinOutside.positionLeft & {
      right: 100%;
    }

    @nest :--main.skinOutside.positionRight & {
      left: 100%;
    }

    @nest :--main.statusWarning & {
      background-color: var(--color-warning);
    }

    @nest :--main.statusDanger & {
      background-color: var(--color-danger);
    }
  }

  &::after {
    background-image: linear-gradient(
      to right,
      var(--pin-color) 0%,
      var(--pin-color) 30%,
      color-moe(var(--pin-color) alpha(0)) 100%
    );

    content: '';
    display: inline-block;
    height: 1px;
    vertical-align: top;
    width: 100%;

    @nest :--main.skinOutside & {
      background-color: #9fa3a8;
    }
  }
}

.content {
  word-wrap: break-word;
}

.title {
  font-size: var(--font-size-medium);
  font-weight: bold;
  margin-bottom: 1px;

  @nest :--main.statusWarning & {
    color: var(--color-warning);
  }

  @nest :--main.statusDanger & {
    color: var(--color-danger);
  }
}
