.item {
  fill: var(--color-bg-secondary);
  stroke: var(--color-bg-border);
  stroke-opacity: 0.28;

  &.isSelectable {
    cursor: pointer;
  }

  &.isHovered,
  &.isSelected {
    fill: var(--color-control-bg-default-hover);
  }

  &.russia {
    stroke-opacity: 0.8;
    stroke-width: 2;
  }
}
