.main {
  --background-column-size: 24px;

  height: 100%;

  &.isHorizontal {
    top: 50%;
    bottom: auto;

    width: 100%;
    height: var(--background-column-size);
  }
}

.columns {
  position: relative;

  align-items: center;
  justify-content: center;

  height: 100%;
}

.baseColumn {
  height: 100%;

  .isHorizontal & {
    width: 100%;
  }
}

.backgroundColumn {
  position: absolute;

  display: flex;
  align-items: center;
  flex-direction: column-reverse;

  width: var(--background-column-size);

  .isHorizontal & {
    flex-direction: row;
  }
}

.column {
  pointer-events: none;

  .isHorizontal & {
    height: auto;
  }
}
