.progress-time-block-chart {
  grid-area: chart;
  position: relative;

  &__svg {
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  &__svg-bg {
    stroke: rgba(#565863, 0.4);
  }

  &__svg-line {
    stroke: #4a85ff;
  }

  &__value {
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
