.main {
  grid-area: chart;
  position: relative;
}

.svg {
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.svgBg {
  stroke: rgba(#565863, 0.4);
}

.svgLine {
  stroke: #4a85ff;
}

.value {
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
