.container {
  overflow: auto;
}

.divResizable {
  position: absolute;
  top: 0;
  right: 0;

  width: 5px;

  cursor: col-resize;
}

.rowL {
  height: 45px;
}

.rowM {
  height: 37px;
}

.rowS {
  height: 30px;
}

.table {
  width: 100%;

  &.striped tr:nth-child(2) {
    background: rgba(0, 0, 0, 0.05);
  }

  & tbody {
    font-size: calc-size(15);
    line-height: calc-size(20);
  }

  & th {
    font-size: calc-size(10);
    line-height: calc-size(15);

    text-transform: uppercase;

    color: var(--text-color-70);

    .icon {
      display: none;
    }
  }

  & th,
  & td {
    padding-top: 0;
    padding-right: calc-size(16);
    padding-bottom: 0;
    padding-left: 0;

    &.textLeftPosition {
      text-align: left;
    }

    &.textRightPosition {
      text-align: right;
    }

    &.textCenterPosition {
      text-align: center;
    }
  }

  & th:hover {
    cursor: pointer;

    .divHelper {
      position: relative;

      display: inline-block;
    }

    .icon {
      position: absolute;
      top: calc-size(3);
      right: calc-size(-12);

      overflow: visible;

      width: calc-size(12);
      height: calc-size(8);

      &:hover {
        fill: white;
      }
    }

    .iconNeutrally {
      display: inline-block;
    }

    &.sortDesc {
      .iconNeutrally {
        display: none;
      }

      .iconAsc {
        display: none;
      }

      .iconDesc {
        display: inline-block;
      }
    }

    &.sortAsc {
      .iconNeutrally {
        display: none;
      }

      .iconDesc {
        display: none;
      }

      .iconAsc {
        display: inline-block;
      }
    }
  }
}

.title {
  margin-bottom: 0;

  text-align: left;
}

.circle {
  display: inline-block;

  width: calc-size(12);
  height: calc-size(12);
  margin-right: 8px;

  border-radius: 50%;
}

.values {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  margin-top: calc-size(16);
  padding-top: calc-size(8);

  border-top: 1px solid rgba(246, 251, 253, 0.28);
}

.valueName {
  font-size: calc-size(11);

  display: inline-block;

  & + & {
    margin-left: calc-size(20);
  }
}
