.main {
  overflow: auto;

  width: 100%;
  height: 100%;
}

.table {
  overflow: hidden;

  width: 100%;

  border-spacing: 0;
  border-collapse: collapse;

  &.isFixed {
    width: 0; /* Чтобы и тянулась, и сужалась */

    table-layout: fixed;
  }

  & tbody {
    font-size: calc-size(15);
    line-height: calc-size(20);
  }

  & tr:nth-child(even) {
    background: var(--table-even-row-background);
  }
}

.rowL {
  height: 45px;
}

.rowM {
  height: 37px;
}

.rowS {
  height: 30px;
}

.cell {
  --column-padding: calc-size(16);

  padding-top: 0;
  padding-right: calc(var(--column-padding) + var(--resizer-width));
  padding-bottom: 0;
  padding-left: var(--column-padding);

  &.isHeader {
    font-size: calc-size(10);
    line-height: calc-size(15);

    position: relative;

    text-transform: uppercase;

    color: var(--text-color-70);
  }

  &:not(.isHeader) {
    hyphens: auto;
  }

  &.alignLeft {
    text-align: left;
  }

  &.alignRight {
    text-align: right;
  }

  &.alignCenter {
    text-align: center;

    & > * {
      margin: 0 auto;
    }
  }
}

.titleWrapper {
  position: relative;

  display: inline-block;
}

.title {
  cursor: pointer;
}

.icon {
  position: absolute;
  z-index: calc(var(--resizer-z) + 1);
  top: 0;
  bottom: 0;

  box-sizing: content-box;
  margin: auto 0;
  padding: 4px;

  cursor: pointer;

  opacity: 0.2;
  fill: white;

  &:hover {
    opacity: 1;
  }

  @nest .cell:not(:hover) & {
    visibility: hidden;
  }
}

.iconFilter {
  left: 0;

  transition: opacity var(--show-transition);
  transform: translateX(-100%);

  @nest .isFilterOpened & {
    display: inline-block;

    opacity: 1;
  }
}

.iconSort {
  right: 0;

  overflow: visible;

  width: calc-size(12);
  height: calc-size(8);

  transform: translateX(100%) translateY(calc-size(1));
}

.circle {
  display: inline-block;

  width: calc-size(12);
  height: calc-size(12);
  margin-right: 8px;

  border-radius: 50%;
}

.values {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  margin-top: calc-size(16);
  padding-top: calc-size(8);

  border-top: 1px solid rgba(246, 251, 253, 0.28);
}

.valueName {
  font-size: calc-size(11);

  display: inline-block;

  & + & {
    margin-left: calc-size(20);
  }
}

.selectedFiltersRow {
  background: none !important;
}
