.main {
  overflow: auto;

  width: 100%;
  height: 100%;
}

.table {
  overflow: hidden;

  width: 100%;

  border-spacing: 0;
  border-collapse: collapse;

  &.isFixed {
    width: 0; /* Чтобы и тянулась, и сужалась */

    table-layout: fixed;
  }

  & tr:nth-child(even) {
    background: var(--table-even-row-background);
  }
}

.rowL {
  height: 45px;
}

.rowM {
  height: 37px;
}

.rowS {
  height: 30px;
}

.cell {
  --column-padding-horizontal: var(--space-m);
  --column-padding-vertical: var(--space-s);

  padding-top: var(--column-padding-vertical);
  padding-right: calc(var(--column-padding-horizontal) + var(--resizer-width));
  padding-bottom: var(--column-padding-vertical);
  padding-left: var(--column-padding-horizontal);

  vertical-align: top;

  &.isHeader {
    position: relative;

    padding-top: 0;
    padding-bottom: 0;

    vertical-align: middle;
  }

  &:not(.isHeader) {
    hyphens: auto;
  }

  &.alignLeft {
    text-align: left;
  }

  &.alignRight {
    text-align: right;
  }

  &.alignCenter {
    text-align: center;

    & > * {
      margin: 0 auto;
    }
  }
}

.titleWrapper {
  position: relative;

  display: inline-block;
}

.title {
  cursor: pointer;
}

.icon {
  position: absolute;
  z-index: calc(var(--resizer-z) + 1);
  top: 0;
  bottom: 0;

  box-sizing: content-box;
  margin: auto 0;
  padding: 4px;

  cursor: pointer;

  opacity: 0.2;
  fill: white;

  &:hover {
    opacity: 1;
  }

  @nest .cell:not(:hover) & {
    visibility: hidden;
  }
}

.iconFilter {
  @nest .cell:hover:not(.isFilterOpened) & {
    opacity: 0.2;
  }
}

.iconSort {
  right: 0;

  overflow: visible;

  width: calc-size(12);
  height: calc-size(8);

  transform: translateX(100%) translateY(calc-size(1));
}

.selectedFiltersRow {
  background: none !important;
}
