.main {
  font-size: var(--main-font-size);

  color: var(--text-color);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.rowTitle {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  padding: 0 10px 8px 8px;

  color: #878ca8;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.row {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: row;

  min-height: 35px;
  margin-bottom: 1px;

  &:last-child {
    margin-bottom: 0;
  }
}

.progress {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;

  height: 100%;

  background-color: rgba(81, 161, 255, 0.28);

  transition: width 0.5s ease;
}

.cell {
  z-index: 10;

  min-width: 0;

  white-space: nowrap;
  word-wrap: break-word;
}

.cellName {
  width: 53%;
  padding-left: 9px;
}

.cellPercent {
  width: 18%;

  text-align: right;
}

.cellHours {
  width: 29%;
  padding-right: 10px;

  text-align: right;
}
