.kpiChart {
  position: relative;
}

.svg {
  display: block;
}

.circle {
  position: absolute;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 4px;
    height: 4px;
    z-index: 2;
    background: #fff;
    border-radius: 100%;
    transform: translate(-50%, -50%);
  }
}

.lineBackground {
  stroke: rgba(#c4c4c4, 0.2);
  fill: none;
  stroke-width: 1.5px;
}

.lineForeground {
  fill: none;
  stroke-width: 1.5px;
}

.areaGradient {
  &.isStart.normal {
    stop-color: rgba(#2fcc69, 0);
  }

  &.isStart.warning {
    stop-color: color-mod(var(--color-warning) alpha(0%));
  }

  &.isStart.danger {
    stop-color: rgba(#cc1027, 0);
  }

  &.isEnd.normal {
    stop-color: rgba(#2fcc69, 0.4);
  }

  &.isEnd.warning {
    stop-color: color-mod(var(--color-warning) alpha(40%));
  }

  &.isEnd.danger {
    stop-color: rgba(#cc1027, 0.4);
  }
}

.linearGradient {
  &.isStart.normal {
    stop-color: rgba(#737a90, 0);
  }

  &.isStart.warning {
    stop-color: color-mod(var(--color-warning) alpha(0%));
  }

  &.isStart.danger {
    stop-color: rgba(#cc1027, 0);
  }

  &.isEnd.normal {
    stop-color: rgba(#2fcc69, 1);
  }

  &.isEnd.warning {
    stop-color: color-mod(var(--color-warning) alpha(100%));
  }

  &.isEnd.danger {
    stop-color: rgba(#cc1027, 1);
  }
}

/* TODO стоит ли решать на уровне минификатора? (скорее нет, т.к. тут уникальный случай) */
.areaForeground {
  /* Чтобы можно было импортнуть */
  visibility: visible;
}
