.table {
  --table-z: 1;
  --sticky-left-z: calc(var(--table-z) + 1);
  --sticky-top-z: calc(var(--sticky-left-z) + 1);
  --sticky-top-and-left-z: calc(var(--sticky-top-z) + 1);
  --resizer-z: calc(var(--sticky-top-and-left-z) + 1);
  --fast-transition: 0.15s ease-out;
  --shadow-color: rgba(0, 29, 46, 0.4);
  --table-border: 1px solid var(--color-bg-border);
  --resizer-width: 0px;

  position: relative;

  display: grid;
  overflow: auto;

  max-width: 100%;
  max-height: 100%;

  border-bottom: var(--table-border);

  &.sizeS {
    --cell-padding-vertical: var(--space-2xs);
    --cell-padding-horizontal: var(--space-xs);
  }

  &.sizeM {
    --cell-padding-vertical: var(--space-xs);
    --cell-padding-horizontal: var(--space-s);
  }

  &.sizeL {
    --cell-padding-vertical: var(--space-s);
    --cell-padding-horizontal: var(--space-m);
  }

  &.isResizable {
    --resizer-width: 5px;
  }
}

.rowWithoutCells {
  position: sticky;
  left: 0;

  display: block;

  grid-column: 1 / -1;

  max-width: var(--table-width);

  background-color: var(--color-bg-default);
}

.cellsRow {
  display: contents;
}

.headerRow {
  display: contents;
}

.headerCell {
  position: relative;

  &:not(:first-child)::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: 1px;

    content: '';

    opacity: 0;
    background: var(--color-bg-border);

    transition: opacity var(--fast-transition);

    .headerRow:hover & {
      opacity: 1;
    }
  }
}

.contentCell {
  .isZebraStriped .cellsRow:nth-child(even) & {
    background-color: var(--color-bg-stripe);
  }

  &.isActive,
  .cellsRow:hover &,
  .isZebraStriped .cellsRow:hover & {
    background-color: var(--color-control-bg-ghost);
  }

  &.isDarkned {
    opacity: 0.3;
  }
}

.buttons {
  --half-cell-padding-horizontal: calc(var(--cell-padding-horizontal) * 0.5);

  position: absolute;
  top: 50%;
  right: calc(var(--half-cell-padding-horizontal) + var(--resizer-width));

  display: flex;

  transform: translateY(-50%);
}

.icon {
  opacity: 0;

  transition: opacity var(--fast-transition);

  .headerRow:hover & {
    opacity: 0.4;
  }

  .headerCell:hover & {
    opacity: 1;
  }
}

.iconSort {
  .buttons.isSortingActive & {
    opacity: 1;
  }
}

.iconFilter {
  .buttons:hover:not(.isFilterOpened) &,
  .buttons.isFilterActive & {
    opacity: 1;
  }
}

.headerShadowWrapper {
  position: sticky;
  z-index: var(--sticky-top-and-left-z);
  top: var(--table-header-height);
  left: 0;

  grid-column: 1 / -1;
}

.headerShadow {
  position: relative;

  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: var(--space-s);

    content: '';
    pointer-events: none;

    opacity: 0;
    background: linear-gradient(180deg, var(--shadow-color), transparent);

    transition: opacity var(--fast-transition);
    transform: translateY(100%);

    .showHorizontalCellShadow & {
      opacity: 1;
    }
  }
}

.emptyCell {
  display: flex;
  justify-content: center;

  height: 100%;
  padding-top: var(--cell-padding-vertical);
  padding-bottom: var(--cell-padding-vertical);

  text-align: center;
}
