.wrapper {
  display: grid;

  height: 100%;

  grid-template-areas:
    'topLeft topTicks topRight'
    'leftTicks main rightTicks'
    'bottomLeftTicks bottomTicks bottomRightTicks'
    'bottomLeft bottomUnit bottomRight';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
}

.leftTicks,
.rightTicks {
  max-width: calc-size(160);
}

.topLeft {
  grid-area: topLeft;

  margin-right: calc-size(17);
  margin-bottom: calc-size(9);
}

.topTicks {
  grid-area: topTicks;
}

.leftTicks {
  grid-area: leftTicks;
}

.main {
  grid-area: main;
}

.rightTicks {
  grid-area: rightTicks;
}

.bottomTicks {
  grid-area: bottomTicks;
}

.bottomUnit {
  grid-area: bottomUnit;

  margin-top: calc-size(5);

  text-align: right;
}

.unit {
  font-size: calc-size(11);
  line-height: calc-size(15);

  color: rgba(246, 251, 253, 0.7);
}
