.main {
  position: relative;

  width: 100%;
  height: 100%;
}

.table {
  position: relative;
  z-index: 1;

  height: 100%;

  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;

  & td {
    padding: 0 var(--space-m);

    vertical-align: middle;
  }
}

.svgWrapper {
  position: absolute;

  height: 100%;
}

.textEllipsis {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
