.main {
  width: 100%;
  height: 100%;
  position: relative;

  &.sizeS {
    font-size: calc-size(11);
    line-height: calc-size(15);
  }

  &.sizeM {
    font-size: calc-size(15);
    line-height: calc-size(18);
  }
}

.table {
  height: 100%;
  table-layout: fixed;
  position: relative;
  z-index: 1;
  border-collapse: collapse;
  border-spacing: 0;

  & td {
    vertical-align: middle;
    padding: 0 calc-size(16);

    &:first-child {
      text-align: right;
      font-size: calc-size(24);
      line-height: calc-size(34);
      font-weight: bold;
    }
  }
}

.svgWrapper {
  height: 100%;
  position: absolute;
}
