.main {
  --height: var(--control-height-m);

  display: flex;

  user-select: none;
}

.button {
  flex-shrink: 0;
}

.timeline {
  --z-index: 1;

  display: flex;
  overflow-x: hidden;

  width: 100%;
  height: var(--height);
  margin: 0 var(--space-xs);

  background-color: #ededed;
}

.selected {
  position: absolute;

  height: 100%;

  background-color: rgba(86, 185, 242, 0.4);
}

.ticks {
  position: relative;

  display: flex;

  transition: transform 0.4s;
}

.tick {
  position: relative;
  z-index: calc(var(--z-index) + 2);

  width: 20px;
  height: 100%;

  cursor: pointer;

  &.isDisabled {
    cursor: not-allowed;
  }
}

.label,
.line {
  position: absolute;
  left: 0;
}

.label {
  top: 0;

  transform: translateX(-50%);
}

.line {
  bottom: 0;

  width: 1px;
  height: 6px;

  background-color: rgba(0, 0, 0, 0.3);

  &.isBig {
    height: 10px;

    background-color: rgba(0, 0, 0, 0.5);
  }

  @nest .isDisabled &, .isDisabled &.isBig {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.selector {
  position: absolute;

  width: 19px;
  height: var(--height);
  margin: 0 1px;

  pointer-events: none;

  border: 2px solid #108ad0;
  border-radius: 4px;
  background-color: transparent;

  &.isWide {
    width: 39px;
  }
}
