.button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  box-sizing: content-box;
  width: calc-size(12);
  height: calc-size(12);
  margin: auto 0;
  padding: var(--space-2xs);

  cursor: pointer;

  opacity: 0;
  color: var(--color-control-typo-clear);

  transition: opacity var(--show-transition);
  transform: translateX(-100%);

  &:hover {
    opacity: 1 !important;
    color: var(--color-control-typo-clear-hover) !important;
  }

  &.isOpened {
    opacity: 1;
    color: var(--color-control-typo-clear-hover);
  }
}

.iconFilter {
  display: block;
}

.tooltip {
  position: absolute;

  width: calc-size(312);
  padding: var(--space-s);

  border-radius: 6px;
  background-color: var(--color-bg-secondary);
  box-shadow: 0 2px 4px rgba(var(--color-nums-shadow), 0.3);

  transform: translateY(4px);
}

.title {
  margin-bottom: var(--space-s);
}

.actionsRow {
  display: flex;
  justify-content: flex-end;

  padding-top: var(--space-2xl);
}

.action {
  &:not(:last-child) {
    margin-right: var(--space-2xs);
  }
}
