.button {
  @mixin button;

  box-sizing: content-box;
  width: calc-size(12);
  height: calc-size(12);
  padding: var(--space-2xs);

  cursor: pointer;

  opacity: 0;
  color: var(--color-control-typo-clear);

  transition: opacity var(--show-transition);

  &:hover {
    opacity: 1 !important;
    color: var(--color-control-typo-clear-hover) !important;
  }

  &.isOpened {
    opacity: 1;
    color: var(--color-control-typo-clear-hover);
  }
}

.iconFilter {
  display: block;
}

.tooltip {
  width: calc-size(312);
  padding: var(--space-s);

  background-color: var(--color-bg-secondary);
  box-shadow: 0 2px 4px rgba(var(--color-nums-shadow), 0.3);

  transform: translateY(4px);
}

.title {
  margin-bottom: var(--space-s);
}

.actionsRow {
  display: flex;
  justify-content: flex-end;

  padding-top: var(--space-2xl);
}

.action {
  &:not(:last-child) {
    margin-right: var(--space-2xs);
  }
}
