.block {
  width: 100%;

  & + & {
    margin-top: var(--space-l);
  }
}

.button {
  position: relative;

  padding-left: var(--space-xl);

  cursor: pointer;
  text-align: left;

  &:disabled {
    padding-left: 0;

    cursor: default;
  }
}

.icon {
  position: absolute;
  top: var(--line-height-text-m);
  left: 0;

  margin-right: var(--space-xs);

  transition: transform 0.3s;
  transform: translateY(-100%) rotate(180deg);

  &.isOpened {
    transform: translateY(-100%) rotate(0);
  }
}

.subTitle {
  margin-right: var(--space-xs);
  margin-left: var(--space-2xl);
}

.table {
  margin: var(--space-m) 0;
}
