.block {
  width: 100%;

  & + & {
    margin-top: var(--space-l);
  }
}

.button {
  cursor: pointer;
}

.icon {
  display: inline-flex;

  margin-right: var(--space-xs);

  transition: transform 0.3s;
  transform: rotate(180deg);

  &.isOpened {
    transform: rotate(0);
  }
}

.subTitle {
  margin-right: var(--space-xs);
  margin-left: var(--space-2xl);
}

.table {
  margin: var(--space-m) 0;
}
