@custom-selector :--extra-small .sizeXS;
@custom-selector :--small .sizeS;
@custom-selector :--medium .sizeM;
@custom-selector :--top .top;
@custom-selector :--left .left;

.main {
  --dot-size: calc-size(12);

  display: inline-flex;

  &:--top {
    flex-direction: column;
  }

  &:--left {
    align-items: center;
  }

  &:--extra-small {
    font-size: calc-size(12);
    line-height: calc-size(17);
  }

  &:--small {
    font-size: calc-size(14);
    line-height: calc-size(20);
  }

  &:--medium {
    font-size: calc-size(16);
    line-height: calc-size(22);
  }
}

.sign {
  display: inline-block;

  @nest :--left & {
    margin-right: calc-size(8);
  }

  @nest :--top & {
    margin-bottom: calc-size(4);
  }
}

.dot {
  width: var(--dot-size);
  height: var(--dot-size);

  border-radius: 100%;

  @nest :--extra-small & {
    margin-top: calc-size(-2);
  }
}

.line {
  width: calc-size(20);
  height: calc-size(2);

  &.isBold {
    height: calc-size(4);
  }
}

.text {
  display: inline-block;

  &.isSeparating {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    overflow: hidden;
  }
}
