@custom-selector :--main .main;
@custom-selector :--left :--main.left;
@custom-selector :--top :--main.top;
@custom-selector :--small :--main.sizeS;
@custom-selector :--medium :--main.sizeM;

:--main {
  --line-height-s: calc-size(18);
  --line-height-m: calc-size(21);
  --dot-size: calc-size(12);

  display: inline-flex;

  &.left {
    align-items: top;
  }

  &.top {
    align-items: left;
    flex-direction: column;
  }
}

.dot {
  min-width: var(--dot-size);
  height: var(--dot-size);

  border-radius: 100px;

  @nest :--left & {
    margin-top: calc((var(--line-height-s) - var(--dot-size)) / 2);
    margin-right: 8px;
  }

  @nest :--left:--medium & {
    margin-top: calc((var(--line-height-m) - var(--dot-size)) / 2);
  }
}

.line {
  min-width: 20px;
  height: 2px;

  &.bold {
    height: 4px;
  }

  @nest :--left & {
    margin-top: calc((var(--line-height-s) - 2px) / 2);
    margin-right: 8px;
  }

  @nest :--left:--medium & {
    margin-top: calc((var(--line-height-m) - 2px) / 2);
  }

  @nest :--left &.bold {
    margin-top: calc((var(--line-height-s) - 4px) / 2);
  }

  @nest :--left:--medium &.bold {
    margin-top: calc((var(--line-height-m) - 4px) / 2);
  }

  @nest :--top & {
    width: 30px;
    margin-bottom: 4px;
  }
}

.text {
  @nest :--small & {
    font-size: calc-size(13);
    line-height: var(--line-height-s);
  }

  @nest :--medium & {
    font-size: calc-size(15);
    line-height: var(--line-height-m);
  }
}
