.container {
  display: inline-flex;
  align-items: center;
}

.label {
  padding-right: calc-size(5);
}

.input + .label {
  padding-left: calc-size(5);
}

.button {
  font-size: calc-size(14);

  margin-left: calc-size(10);

  &:hover {
    cursor: pointer;
  }
}
