.chart {
  $parent: &;
  width: 100%;
  height: 100%;
  position: absolute;
}

.scale {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.scaleSection {
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  border-bottom: 1px solid rgba(#fff, 0.1);
}

.scaleSectionDepth {
  position: absolute;
  bottom: 0;
  right: 5px;
  opacity: 0.6;
}

.svg {
  display: block;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.area {
  stroke: none;
  filter: url(#svgDropShadow);

  &.hovered {
    fill: var(--color-success-semi) !important;
  }
}

.linearGradient1 {
  &.start {
    stop-color: rgba(144, 187, 255, 0.11);
  }

  &.stop {
    stop-color: rgba(144, 187, 255, 0.11);
  }
}

.linearGradient2 {
  &.start {
    stop-color: rgba(144, 187, 255, 0.21);
  }

  &.stop {
    stop-color: rgba(144, 187, 255, 0.21);
  }
}

.linearGradient3 {
  &.start {
    stop-color: rgba(144, 187, 255, 0.31);
  }

  &.stop {
    stop-color: rgba(144, 187, 255, 0.31);
  }
}

.linearGradient4 {
  &.start {
    stop-color: rgba(144, 187, 255, 0.41);
  }

  &.stop {
    stop-color: rgba(144, 187, 255, 0.41);
  }
}

.linearGradient5 {
  &.start {
    stop-color: rgba(144, 187, 255, 0.51);
  }

  &.stop {
    stop-color: rgba(144, 187, 255, 0.51);
  }
}

.linearGradient6 {
  &.start {
    stop-color: rgba(144, 187, 255, 0.61);
  }

  &.stop {
    stop-color: rgba(144, 187, 255, 0.61);
  }
}

.linearGradient7 {
  &.start {
    stop-color: rgba(144, 187, 255, 0.71);
  }

  &.stop {
    stop-color: rgba(144, 187, 255, 0.71);
  }
}

.linearGradient8 {
  &.start {
    stop-color: rgba(144, 187, 255, 0.81);
  }

  &.stop {
    stop-color: rgba(144, 187, 255, 0.81);
  }
}
