.openableLabel {
  font-size: var(--main-font-size);

  position: relative;

  max-width: 165px;

  color: #fff;
}

.close {
  position: absolute;
  z-index: 1;
  top: -11px;
  right: -11px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 22px;
  height: 22px;

  cursor: pointer;

  border-radius: 50%;
  background: #fff;

  &::before {
    display: inline-block;

    width: 12px;
    height: 2px;

    content: '';

    background: #000;
  }
}

.shortTitleBlock {
  line-height: 16px;

  display: flex;
  align-items: center;
  flex-direction: row;

  min-width: 100px;
  padding: 8px 8px 7px 11px;

  cursor: pointer;
  letter-spacing: 0.03em;

  border: 1px solid var(--white-border-color-opacity-10);
  border-radius: var(--border-radius);
  background: rgba(18, 26, 40, 1);
}

.shortTitle {
  flex-grow: 1;

  min-width: 0;
  padding-right: 5px;

  word-wrap: break-word;

  &:last-child {
    padding-right: 0;
  }
}

.shortTitleIcon {
  font-family: monospace;
  font-weight: bold;

  position: relative;
  top: -1px;

  flex-shrink: 0;
}

.content {
  display: block;

  border: 1px solid var(--white-border-color-opacity-10);
  border-radius: var(--border-radius);
  background: rgba(18, 26, 40, 1);
}

.title,
.item {
  padding: 12px;
}

.title {
  font-size: 17px;
  line-height: 20px;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #efefef;

  &:not(:only-child) {
    padding-bottom: 0;
  }
}

.item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  &:last-child {
    border-bottom: none;
  }
}
