.table {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
}

.row {
  display: flex;
  align-items: flex-start;
  flex-direction: row;

  margin-bottom: calc(12rem / 14);

  &:last-child {
    margin-bottom: 0;
  }
}

.cell {
  padding-right: 5px;

  &:first-child {
    flex-grow: 1;

    color: var(--text-color-semi);
  }

  &:last-child {
    padding-right: 0;
  }

  &.oneLine {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
