.main {
  --top-padding: 10px;
  --durations-offset: -3px;
  position: relative;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: var(--top-padding);
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 50px;
}

.wrapper {
  position: relative;

  width: 100%;
  height: 100%;
}

.highlightBox {
  position: absolute;
  top: 0;
  bottom: 0;

  background: rgba(202, 29, 50, 0.2);
}

.day {
  position: absolute;
  top: 0;
  bottom: 0;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    content: '';

    border-left: 1px solid rgba(246, 251, 253, 0.4);
  }
}

.section {
  position: absolute;
  top: -10px;
  bottom: 0;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    content: '';

    border-left: 1px solid rgba(246, 251, 253, 0.2);
  }
}

.sectionName {
  position: absolute;
  top: 5px;
  left: 50%;

  transform: translate(-100%, -100%) rotate(-90deg);
  transform-origin: 100% 100%;
}

.durations {
  position: relative;

  height: 27px;
  margin-right: 15px;
  margin-left: 15px;
}

.durationsWrapper {
  position: absolute;
  z-index: 10;
  right: -15px;
  bottom: var(--durations-offset);
  left: -15px;

  transform: translate(0, 100%);
}

.durationsItem {
  font-size: 12px;

  position: absolute;
  top: 50%;

  margin-top: -1px;

  cursor: default;
  text-align: center;

  color: var(--text-color-additional);
}

.durationsLabel {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.costs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10px;

  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;

  transform: translate(-100%, 0);
}

.costsItem {
  position: relative;
}

.costsLabel {
  position: absolute;
  top: 50%;
  right: 50%;

  white-space: nowrap;

  transform: translate(0, -50%);
}

.current {
  position: absolute;
  top: 0;
  bottom: 0;

  &::before {
    position: absolute;
    top: -10px;
    bottom: -40px;
    left: 0;

    content: '';

    border-left: 1px dashed #fff;
  }
}

.currentMarker {
  position: absolute;
  z-index: 1;

  &::before {
    position: absolute;

    width: 80px;
    height: 80px;

    content: '';

    border-radius: 100%;
    background: radial-gradient(
      circle closest-side at center,
      rgba(50, 216, 255, 0.3) 0%,
      rgba(50, 216, 255, 0.2) 30%,
      rgba(50, 216, 255, 7.5%) 45%,
      rgba(50, 216, 255, 0) 100%
    );

    transform: translate(-50%, -50%);
  }

  &.red::before {
    background: radial-gradient(
      circle closest-side at center,
      rgba(50, 216, 255, 0.3) 0%,
      rgba(50, 216, 255, 0.2) 30%,
      rgba(50, 216, 255, 7.5%) 45%,
      rgba(50, 216, 255, 0) 100%
    );
  }

  &::after {
    position: absolute;

    width: 10px;
    height: 10px;

    content: '';

    border-radius: 100%;
    background: rgb(50, 216, 255);

    transform: translate(-50%, -50%);
  }

  &.red::after {
    background: #ff6262;
  }
}

.selected {
  position: absolute;
  top: calc(-1 * var(--top-padding));

  transition: var(--progress-transition);
}

.selectedLabel {
  position: absolute;
  z-index: 1;
  bottom: var(--durations-offset);
  left: 50%;

  width: 25px;
  height: 25px;

  cursor: pointer;
  user-select: none;

  border: 1px solid #fff;
  border-radius: 100%;
  background-color: var(--bg-block);

  transform: translate(-50%, -50%);
}

.selectedBox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  background-image: var(--progress-gradient);
}

.selectedLine {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  border-left: 1px solid #fff;
}

.svgWrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 1px;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    content: '';

    border-top: 1px solid rgba(246, 251, 253, 0.4);
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    border-bottom: 1px solid rgba(246, 251, 253, 0.4);
  }
}

.svgDefs {
  display: block;

  width: 0;
  height: 0;
}

.lineBackground {
  stroke-dasharray: 5;
  fill: none;
}

.lineForeground {
  stroke: var(--color-important);
  stroke-width: 1.5px;
  fill: none;
}

.lineForegroundDanger {
  stop-color: var(--color-danger);
}

.lineForegroundNormal {
  stop-color: var(--color-important);
}
