.controls {
  display: inline-flex;
  align-items: baseline;
}

.delimiter {
  padding: 0 var(--space-xs);
}

.tooltip {
  --tooltip-vertical-padding: var(--space-l);
  --tooltip-horizontal-padding: var(--space-l);

  max-width: 298px;

  &.isWide {
    max-width: 592px;
  }
}
