.controls {
  display: inline-flex;
  align-items: baseline;
}

.delimiter {
  padding: 0 var(--space-xs);
}

.tooltip {
  --tooltip-vertical-padding: var(--space-l);
  --tooltip-horizontal-padding: var(--space-l);

  max-width: 298px;

  &.isWide {
    max-width: 592px;
  }
}

.warningTooltip {
  display: flex;
}

.iconWarning {
  position: relative;
  top: calc(var(--line-height-text-m) / 2);

  flex-shrink: 0;

  width: calc-size(12);
  margin-right: var(--space-xs);

  color: var(--color-bg-alert);

  transform: translateY(-50%);
}
