.dashboard {
  width: 100%;

  background-color: var(--color-bg-default);

  /* эти стили нужны для корректной работы react-grid-layout */

  :global {
    /* stylelint-disable selector-class-pattern */

    & .react-grid-layout {
      position: relative;

      min-height: 100%;

      transition: height 200ms ease;
    }

    & .react-grid-item {
      transition: all 200ms ease;
      transition-property: left, top;
    }

    & .react-grid-item.cssTransforms {
      transition-property: transform;
    }

    & .react-grid-item.resizing {
      z-index: 1;

      will-change: width, height;
    }

    & .react-grid-item.react-draggable-dragging {
      z-index: 3;

      transition: none;
      will-change: transform;
    }

    & .react-grid-item.react-grid-placeholder {
      z-index: 2;

      user-select: none;

      opacity: 0.2;
      background: var(--color-bg-alert);

      transition-duration: 100ms;
    }

    & .react-grid-item > .react-resizable-handle {
      position: absolute;
      right: 0;
      bottom: 0;

      width: 20px;
      height: 20px;
      padding: 0 3px 3px 0;

      cursor: se-resize;

      background: url('data:image/svg+xml;base64, PHN2ZyBzdHlsZT0iZmlsbDojNTA2NTczIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCI+PHBhdGggZD0iTTEwIDEwSDBWNi4yaDYuMlYwSDEwdjZ6Ij48L3BhdGg+PC9zdmc+');
      background-repeat: no-repeat;
      background-position: bottom right;
      background-origin: content-box;
    }

    & .react-grid-item.dropping > .react-resizable-handle {
      background: none;
    }

    & .react-draggable-dragging,
    & .react-grid-item.resizing {
      box-shadow: 0 0 5px rgba(var(--color-nums-shadow), 1);
    }

    /* stylelint-enable */
  }
}

.removeBox {
  @mixin button;

  position: absolute;
  top: 0;
  right: 0;

  transform: translate(100%, -100%);
}
