.timeline {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.item {
  border: 1px solid transparent;
  box-sizing: border-box;
  padding: 6px;
  opacity: 0.5;
  width: 43px;

  &:last-child {
    background: var(--bg-color-white-semi);
    border-color: var(--bg-color-white);
    border-radius: var(--border-radius);
    opacity: 1;
  }
}

.time {
  color: var(--text-color-additional);
  font-size: 13px;
  line-height: 15px;
}

.value {
  color: var(--text-color);
  font-size: 13px;
  line-height: 15px;
}
