.background-status-indicator {
  border-top: 4px solid rgba(var(--text-color-additional), 0.63);
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &_status_danger {
    background-image: linear-gradient(
      165.63deg,
      rgba(201, 29, 50, 0.52) 5.81%,
      rgba(201, 29, 50, 0) 62.66%
    );
    border-top-color: rgba(#ca1d32, 0.7);
  }

  &_status_important {
    background-image: linear-gradient(
      167.07deg,
      rgba(33, 92, 196, 0.44) 4.16%,
      rgba(33, 92, 196, 0) 61.42%
    );
    border-top-color: rgba(#5592ff, 0.7);
  }

  &_status_warning {
    background-image: linear-gradient(
      165.63deg,
      rgba(231, 177, 38, 0.36) 5.81%,
      rgba(232, 202, 47, 0) 62.66%
    );
    border-top-color: rgba(#ffdb1f, 0.7);
  }
}
