.directionIndicator {
  line-height: 0;

  display: block;
  justify-content: center;

  width: 32px;
  height: 33px;

  border-radius: var(--border-radius);
  background: var(--color-important);

  &.up {
    transform: rotate(180deg);
  }
}
