.button {
  opacity: 0;

  transition: opacity var(--show-transition);

  &:hover {
    opacity: 1 !important;
  }

  &.isOpened {
    opacity: 1;
  }
}

.title {
  margin-top: var(--space-2xs);
  margin-bottom: var(--space-xs);
}

.popoverContent {
  width: 312px;
  padding: var(--space-s);

  border-radius: 8px;
  background-color: var(--color-bg-secondary);
  box-shadow: 0 2px 2px rgba(var(--color-nums-shadow), 0.07),
    0 4px 4px rgba(var(--color-nums-shadow), 0.07), 0 8px 8px rgba(var(--color-nums-shadow), 0.07),
    0 12px 16px rgba(var(--color-nums-shadow), 0.07),
    0 16px 32px rgba(var(--color-nums-shadow), 0.07);
}

.select {
  width: 100%;
  height: 100px;

  color: var(--color-typo-primary);
  border-color: var(--color-bg-border);
  border-radius: var(--control-radius);
  background: var(--color-control-bg-default);
}

.option {
  font-size: var(--size-text-s);

  padding: var(--space-xs);
}
