.main {
  position: absolute;
  z-index: var(--resizer-z);
  top: 0;
  right: 0;

  width: var(--resizer-width);

  cursor: col-resize;
  user-select: none;

  transition: background-color var(--fast-transition);

  &::before {
    --hover-area-offset: -5px;

    position: absolute;
    top: 0;
    right: var(--hover-area-offset);
    bottom: 0;
    left: var(--hover-area-offset);

    content: '';
  }

  &:hover,
  &.isDragging {
    background-color: var(--color-bg-link);
  }
}
