.ndt-info {
  color: var(--text-color);
  font-size: var(--main-font-size);

  &__table {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__hours {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 4px;
    padding-right: 10px;
    text-align: right;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__percents {
    padding-right: 10px;
    text-align: right;
  }
}
