.costInfo {
  font-size: var(--font-size-main);

  color: var(--text-color);
}

.statusLine {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;

  margin-bottom: 23px;

  &:last-child {
    margin-bottom: 0;
  }
}

.badge {
  margin-right: 7px;

  &:last-child {
    margin-right: 0;
  }
}

.statusNormal {
  color: #77eca2;
}

.statusDanger {
  color: #ff3d54;
}

.infoItem {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

.infoTitle {
  font-size: 20px;
  font-weight: bold;

  margin-bottom: 3px;

  &:last-child {
    margin-bottom: 0;
  }
}

.lineDescription {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.lineName {
  margin-right: 7px;
  padding-bottom: 2px;

  color: #878ca8;

  &:last-child {
    margin-right: 0;
  }
}

.line {
  flex-grow: 1;
}

.lineFact {
  height: 2px;

  border-radius: 2px;
  background-color: #4198ff;
}

.linePlan {
  height: 0;

  border-top: 1px dashed #b2b2b2;
}
