.line {
  --chart-line-height: 8px;
  --space-between-lines: 1px;

  position: absolute;
  top: calc(var(--line-height-text-m) / 2);

  height: var(--chart-line-height);

  transform: translateY(var(--space-between-lines));

  &.isInteractive {
    cursor: pointer;
  }

  &.isFact {
    opacity: 1;
  }

  &.isForecast {
    opacity: 0.2;
  }

  &.isPlan {
    opacity: 0.4;

    transform: translateY(calc(-1 * (var(--chart-line-height) + var(--space-between-lines))));
  }

  &.isActive {
    opacity: 1;
  }

  &.isInactive {
    opacity: 0.3;
  }
}
