.main {
  position: absolute;

  max-width: 298px;
  padding: var(--space-l) var(--space-l) var(--space-m);

  border-radius: 4px;
  background-color: #fff;

  transform: translateY(4px);

  &.isWide {
    max-width: 592px;
  }
}
