.main {
  --filters-border: 1px solid var(--color-bg-border);

  display: flex;
  align-items: center;

  box-sizing: border-box;
  padding-right: var(--space-s);

  border-top: var(--filters-border);
  border-bottom: var(--filters-border);
}

.options {
  display: flex;
  flex: 1;
  flex-wrap: wrap;

  padding: 0 var(--cell-padding-horizontal);
}

.option {
  margin: var(--space-2xs) 0;
  margin-right: var(--space-2xs);
}

.clear {
  opacity: 0;

  transition: opacity 0.15s ease-out;

  .main:hover & {
    opacity: 1;
  }
}
