.selectedFilters {
  --filters-border: 1px solid var(--color-bg-border);

  display: flex;

  max-height: calc-size(64);
  padding-right: var(--space-xs);
  padding-left: var(--space-m);

  border-top: var(--filters-border);
  border-bottom: var(--filters-border);
}

.options {
  display: flex;
  overflow-y: auto;
  flex: 1;
  flex-wrap: wrap;

  padding-top: var(--space-2xs);
}

.buttonCross {
  @mixin button;

  width: 18px;
  height: 18px;
  margin: var(--space-2xs);

  cursor: pointer;

  color: var(--color-control-typo-clear);

  &:hover {
    color: var(--color-control-typo-clear-hover);
  }
}

.icon {
  display: block;

  margin: 0 auto;
}

.selectedOptionWrapper {
  margin-right: var(--space-2xs);
  margin-bottom: var(--space-2xs);
}
