.widget {
  width: 100%;
  height: 100%;

  position: relative;
  padding: 10px;

  color: var(--color-dashboard);

  overflow: hidden;

  font-size: 18px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.editButton {
  height: 24px;
  width: 24px;

  background-color: rgba(0, 0, 0, 0);

  padding: 0;
  margin: 0;

  position: absolute;
  right: 30px;
  top: 10px;

  border: none;
}

.editIcon {
  width: 24px;
  height: 24px;

  fill: none;

  & path {
    stroke: var(--color-dashboard);
  }
}

.select {
  background: none;

  border: none;

  color: #ccc;
}
