.main {
  position: relative;

  display: inline-block;
}

.icon {
  --position-right: calc-size(10);

  position: absolute;
  top: 50%;
  right: var(--position-right);

  pointer-events: none;

  transform: translateY(-50%);

  &.sizeM {
    --position-right: calc-size(12);
  }
}

.input {
  font-size: var(--size-text-s);

  max-width: calc-size(155);

  cursor: pointer;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button,
  &::-webkit-clear-button,
  &::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;

    display: none;
  }

  &::-webkit-datetime-edit-day-field,
  &::-webkit-datetime-edit-month-field,
  &::-webkit-datetime-edit-year-field {
    color: inherit;
  }

  &.sizeS {
    min-width: calc-size(119);
  }

  &.sizeM {
    min-width: calc-size(129);
  }

  &.sizeL {
    min-width: calc-size(155);
  }
}
