.progressTimeBlock {
  font-size: var(--main-font-size);

  display: grid;

  height: 100%;
  padding: 18px 27px;

  color: var(--text-color);
  border: 1px solid var(--white-border-color-opacity-10);
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  grid-template-columns: 136px 50px 114px 5px auto;
  grid-template-rows: 26px 24px 51px 21px 21px 43px;
  grid-template-areas:
    'current-day . date      date date'
    '.           . .         .    .'
    'chart       . deviation .    hse'
    'chart       . .         .    .'
    'chart       . recom     .    .'
    'chart       . recom     .    recom-ref';
}
