.legend {
  position: relative;

  display: flex;
  justify-content: space-between;

  width: 100%;
  min-height: calc-size(4);
  padding-top: calc-size(5);

  color: var(--text-color);
}

.marking {
  position: absolute;
  top: calc-size(4);

  display: flex;
  align-items: center;
  flex-direction: column;

  transform: translateX(-50%);

  &.alignLeft {
    align-items: flex-start;

    transform: translateX(0);
  }

  &.alignRight {
    align-items: flex-end;

    transform: translateX(-100%);
  }

  &.isHidden {
    position: relative;
    top: 0;

    visibility: hidden;
  }
}

.markingIcon {
  width: calc-size(1);
  height: calc-size(4);

  opacity: 0.5;
  background-color: currentColor;
}

.markingLabel {
  font-size: calc-size(11);
  line-height: calc-size(15);

  white-space: nowrap;

  opacity: var(--text-opacity);
}
