.main {
  --vertical-margin: var(--space-xs);

  margin-top: calc(-1 * var(--vertical-margin));

  &.column {
    display: flex;
    flex-direction: column;
  }
}

.item {
  margin-top: var(--vertical-margin);
}

.row .item {
  margin-right: var(--space-s);
}
