.currentOoperation {
  font-size: var(--main-font-size);
}

.infoLine {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;

  margin-bottom: 16px;
}

.element {
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.switcher {
  margin-right: 17px;
  margin-left: 56px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.title {
  font-size: 26px;
  font-weight: bold;
  line-height: 27px;

  letter-spacing: 0.03em;
  text-transform: uppercase;
}
