.main {
  grid-area: chart;

  position: relative;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.svgBg {
  stroke: rgba(#565863, 0.4);
}

.svgLine {
  stroke: #4a85ff;
}

.value {
  font-size: 32px;
  font-weight: bold;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
