.badge {
  --color-normal: #20b55f;
  --color-warning: rgb(255, 219, 31);
  --color-danger: #db3333;
  line-height: 1;

  position: relative;

  display: inline-block;

  padding: calc-size(2) calc-size(4);

  letter-spacing: -0.02em;

  border-radius: 2px;
  background-color: var(--text-color-additional-semi);

  &.normal {
    background-color: var(--color-normal);
  }

  &.warning {
    color: #000;
    background-color: var(--color-warning);
  }

  &.danger {
    background-color: var(--color-danger);
  }

  &.empty {
    background-color: transparent;
  }
}
