.badge {
  background-color: var(--text-color-additional-semi);
  border-radius: 2px;
  display: inline-block;
  letter-spacing: -0.02em;
  line-height: 1;
  padding: 2px 4px;
  position: relative;

  &.normal {
    background-color: var(--color-normal);
  }

  &.warning {
    background-color: var(--color-warning);
    color: #000;
  }

  &.danger {
    background-color: var(--color-danger);
  }
}
