.badge {
  line-height: 1;

  position: relative;

  display: inline-block;

  padding: calc-size(2) calc-size(4);

  letter-spacing: -0.02em;

  border-radius: 2px;
  background-color: var(--text-color-additional-semi);

  &.normal {
    background-color: var(--color-normal);
  }

  &.warning {
    color: #000;
    background-color: var(--color-warning);
  }

  &.danger {
    background-color: var(--color-danger);
  }
}
