@custom-selector :--isOpened .isOpened;
@custom-selector :--isTop .upLeft, .upRight;
@custom-selector :--isBottom .downLeft, .downRight;
@custom-selector :--isTopLeft .upLeft;
@custom-selector :--isTopRight .upRight;
@custom-selector :--isBottomLeft .downLeft;
@custom-selector :--isBottomRight .downRight;

.tooltip {
  padding: 0;

  background: none;
}

.main {
  --angle-size: 6px;

  position: relative;

  &.right {
    text-align: left;
  }

  &.left {
    text-align: right;
  }
}

.buttons {
  display: inline-block;
  overflow: hidden;

  --border-top-left-radius: 0;
  --border-top-right-radius: 0;
  --border-bottom-left-radius: 0;
  --border-bottom-right-radius: 0;

  height: 26px;

  vertical-align: bottom;
  white-space: nowrap;

  border-radius: var(--border-top-left-radius) var(--border-top-right-radius)
    var(--border-bottom-right-radius) var(--border-bottom-left-radius);

  :--isTop:not(:--isOpened) & {
    --border-top-left-radius: var(--control-radius);
    --border-top-right-radius: var(--control-radius);
    --border-bottom-right-radius: var(--control-radius);
  }

  :--isBottom:not(:--isOpened) & {
    --border-bottom-left-radius: var(--control-radius);
    --border-top-right-radius: var(--control-radius);
    --border-bottom-right-radius: var(--control-radius);
  }

  :--isTopLeft:--isOpened & {
    --border-bottom-left-radius: var(--control-radius);
  }

  :--isTopRight:--isOpened & {
    --border-bottom-right-radius: var(--control-radius);
  }

  :--isBottomLeft:--isOpened & {
    --border-top-left-radius: var(--control-radius);
  }

  :--isBottomRight:--isOpened & {
    --border-top-right-radius: var(--control-radius);
  }
}

.button {
  display: inline-flex;

  width: 26px;
  height: 26px;

  vertical-align: middle;

  background-color: var(--color-bg-default);
  background-repeat: no-repeat;
  background-position: center center;

  &:hover,
  &.active {
    background-color: var(--color-control-bg-default-hover);
  }

  &.comment {
    width: 27px;

    border-left: 1px solid var(--color-bg-border);
  }
}

.icon {
  margin: 0 auto;
}

.content {
  --border-top-left-radius: var(--control-radius);
  --border-top-right-radius: var(--control-radius);
  --border-bottom-left-radius: var(--control-radius);
  --border-bottom-right-radius: var(--control-radius);

  width: calc-size(315);
  padding: var(--tooltip-vertical-padding) var(--tooltip-horizontal-padding);

  text-align: left;

  border-radius: var(--border-top-left-radius) var(--border-top-right-radius)
    var(--border-bottom-right-radius) var(--border-bottom-left-radius);
  background: var(--color-bg-default);

  &.dates {
    width: auto;

    white-space: nowrap;
  }

  :--isTopLeft & {
    --border-bottom-right-radius: 0;
  }

  :--isTopRight & {
    --border-bottom-left-radius: 0;
  }

  :--isBottomLeft & {
    --border-top-right-radius: 0;
  }

  :--isBottomRight & {
    --border-top-left-radius: 0;
  }
}

.circle {
  display: inline-flex;

  width: calc-size(12);
  height: calc-size(12);

  vertical-align: middle;

  border-radius: 100%;

  &.isPlan {
    opacity: 0.6;
  }

  &.isForecast {
    opacity: 0.4;
  }
}

.label {
  display: inline-block;

  margin: 0 var(--space-2xs);
}

.dateBlock {
  & + & {
    margin-top: var(--space-s);
  }
}
