.main {
  width: 100%;
  height: 100%;
}

.title {
  font-size: calc-size(13);
  line-height: calc-size(18);
}

.value {
  font-size: calc-size(24);
  font-weight: bold;
  line-height: calc-size(34);

  vertical-align: middle;
}

.badge {
  font-size: calc-size(11);
  font-weight: bold;

  margin-left: calc-size(4);

  vertical-align: middle;
}

.unit {
  font-size: calc-size(11);

  margin-top: calc-size(4);

  color: var(--text-color-70);
}
