.main {
  display: flex;

  width: 100%;
  height: 100%;
  min-height: 42px;
}

.title {
  position: relative;

  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;

  min-width: 50px;
}

.period {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  pointer-events: none;

  &::before {
    position: absolute;
    top: 0;
    left: -1px;

    width: 1px;
    height: 100%;

    content: '';

    background: var(--color-bg-border);
  }
}

.periodText {
  font-size: 8px;

  padding: 0 var(--space-2xs);

  white-space: nowrap;
  pointer-events: auto;

  background: var(--color-control-bg-ghost);
}
