.container {
  display: grid;

  grid-template-columns: min-content;

  justify-items: start;

  align-items: baseline;
  grid-column-gap: var(--column-gap);

  /* Лэйауты */

  &.compactTitle {
    grid-template-areas:
      'title title'
      'number number';
  }

  &.compactUnit {
    grid-template-areas:
      'unit unit'
      'number number';
  }

  &.full {
    grid-template-areas:
      'title title'
      'number badge'
      'unit unit';
  }

  &.fullWithoutTitle {
    grid-template-areas:
      'number badge'
      'unit unit';
  }

  &.fullReversed {
    grid-template-areas:
      'title title'
      'number unit'
      'badge badge';
  }

  /* Размеры */

  &.size2XS {
    --column-gap: var(--space-xs);
  }

  &.sizeXS {
    --column-gap: var(--space-xs);
  }

  &.sizeS {
    --column-gap: var(--space-s);
  }

  &.sizeM {
    --column-gap: var(--space-m);
  }

  &.sizeL {
    --column-gap: var(--space-m);
  }
}

.title {
  grid-area: title;

  .fullWithoutTitle &,
  .compactUnit & {
    display: none;
  }
}

.number {
  white-space: nowrap;
  grid-area: number;
}

.badge {
  position: relative;
  grid-area: badge;

  .compactTitle &,
  .compactUnit & {
    display: none;
  }

  /* Сдвигаем бэдж, чтобы его нижняя граница была по бэйзлайну числа слева */

  .size2XS:not(.fullReversed) &,
  .sizeXS:not(.fullReversed) &,
  .sizeS:not(.fullReversed) &,
  .sizeM:not(.fullReversed) & {
    bottom: 0.6em;
  }

  .sizeL:not(.fullReversed) & {
    bottom: 0.75em;
  }
}

.unit {
  grid-area: unit;

  .compactTitle & {
    display: none;
  }
}
