@custom-selector :--withArrow .withArrow;
@custom-selector :--upDirection .upLeft, .upCenter, .upRight;
@custom-selector :--downDirection .downLeft, .downCenter, .downRight;

.main {
  --arrow-size: 6px;
  --tooltip-positive-arrow-offset: calc(2 * var(--arrow-size));
  --tooltip-negative-arrow-offset: calc(-2 * var(--arrow-size));
  --arrow-side-size: calc(var(--arrow-size) / 2);
  --tooltip-vertical-padding: var(--space-xs);
  --tooltip-horizontal-padding: var(--space-xs);
  --tooltip-bg-color: var(--color-bg-default);

  position: absolute;

  display: table;

  pointer-events: none;

  &.isHoverable {
    pointer-events: auto;
  }

  &.right,
  &.left {
    transform: translate(0, -50%);
  }
}

.tooltip {
  --border-radius-default: 4px;
  --border-top-left-radius: var(--border-radius-default);
  --border-top-right-radius: var(--border-radius-default);
  --border-bottom-left-radius: var(--border-radius-default);
  --border-bottom-right-radius: var(--border-radius-default);

  position: relative;

  max-width: 400px;
  padding: var(--tooltip-vertical-padding) var(--tooltip-horizontal-padding);

  border-radius: var(--border-top-left-radius) var(--border-top-right-radius)
    var(--border-bottom-right-radius) var(--border-bottom-left-radius);
  background-color: var(--tooltip-bg-color);

  &::after {
    position: absolute;

    content: '';

    border: var(--arrow-size) solid transparent;
  }

  @nest :--upDirection:--withArrow & {
    margin-bottom: var(--tooltip-positive-arrow-offset);
  }

  @nest .upLeft:--withArrow & {
    --border-bottom-right-radius: 0;

    &::after {
      right: 0;
      bottom: 0;

      border-width: var(--arrow-side-size);
      border-top-color: var(--tooltip-bg-color);
      border-right-color: var(--tooltip-bg-color);

      transform: translateY(100%);
    }
  }

  @nest .upCenter:--withArrow &::after {
    bottom: var(--tooltip-negative-arrow-offset);
    left: 50%;

    border-top-color: var(--tooltip-bg-color);

    transform: translate(-50%, 0);
  }

  @nest .upRight:--withArrow & {
    --border-bottom-left-radius: 0;

    &::after {
      bottom: 0;
      left: 0;

      border-width: var(--arrow-side-size);
      border-top-color: var(--tooltip-bg-color);
      border-left-color: var(--tooltip-bg-color);

      transform: translateY(100%);
    }
  }

  @nest .right:--withArrow & {
    margin-left: var(--tooltip-positive-arrow-offset);

    &::after {
      top: 50%;
      left: var(--tooltip-negative-arrow-offset);

      border-right-color: var(--tooltip-bg-color);

      transform: translate(0, -50%);
    }
  }

  @nest :--downDirection:--withArrow & {
    margin-top: var(--tooltip-positive-arrow-offset);
  }

  @nest .downLeft:--withArrow & {
    --border-top-right-radius: 0;

    &::after {
      top: 0;
      right: 0;

      border-width: var(--arrow-side-size);
      border-right-color: var(--tooltip-bg-color);
      border-bottom-color: var(--tooltip-bg-color);

      transform: translateY(-100%);
    }
  }

  @nest .downCenter:--withArrow &::after {
    top: var(--tooltip-negative-arrow-offset);
    left: 50%;

    border-bottom-color: var(--tooltip-bg-color);

    transform: translate(-50%, 0);
  }

  @nest .downRight:--withArrow & {
    --border-top-left-radius: 0;

    &::after {
      top: 0;
      left: 0;

      border-width: var(--arrow-side-size);
      border-bottom-color: var(--tooltip-bg-color);
      border-left-color: var(--tooltip-bg-color);

      transform: translateY(-100%);
    }
  }

  @nest .left:--withArrow & {
    margin-right: var(--tooltip-positive-arrow-offset);

    &::after {
      top: 50%;
      right: var(--tooltip-negative-arrow-offset);

      border-left-color: var(--tooltip-bg-color);

      transform: translate(0, -50%);
    }
  }
}
