.main {
  /* Используется в осях и зуме */
  --axis-tick-offset: var(--space-xs);

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  min-height: 90px;
}

.graph {
  position: relative;

  flex: 1;
}

.svg {
  position: absolute;
  z-index: 10;

  overflow: visible;

  pointer-events: all;
}
