.stats {
  width: 100%;

  text-align: left;
}

.row {
  margin: 3px 0;
}

.number {

  font-weight: bold;

  display: inline-block;

  margin-right: 5px;
  padding: 2px 4px;

  letter-spacing: -0.02em;

  color: #f6fbfd;
}

.badge {
  vertical-align: 0.25em;
}

.sizeXS {
  font-size: calc-size(13);
  line-height: calc-size(18);

  & .number {
    font-size: calc-size(24);
    line-height: calc-size(34);
  }
}

.sizeS {
  font-size: calc-size(18);
  line-height: calc-size(25);

  & .number {
    font-size: calc-size(48);
    line-height: calc-size(62);
  }
}

.sizeM {
  font-size: calc-size(20);
  line-height: calc-size(28);

  & .number {
    font-size: calc-size(72);
    line-height: calc-size(82);
  }
}

.sizeL {
  font-size: calc-size(24);
  line-height: calc-size(34);

  & .number {
    font-size: calc-size(96);
    line-height: calc-size(115);
  }
}
