@custom-selector :--small .sizeXS;
@custom-selector :--medium .sizeS;
@custom-selector :--large .sizeM;
@custom-selector :--biggest .sizeL;

:--small {
  font-size: calc-size(14);
  line-height: calc-size(20);
}

:--medium {
  font-size: calc-size(18);
  line-height: calc-size(25);
}

:--large {
  font-size: calc-size(20);
  line-height: calc-size(28);
}

:--biggest {
  font-size: calc-size(24);
  line-height: calc-size(34);
}

.stats {
  width: 100%;

  text-align: left;
}

.row {
  margin: 3px 0;

  @nest :--small &:last-child {
    font-size: calc-size(12);
    line-height: calc-size(17);
  }
}

.number {
  font-weight: bold;

  display: inline-block;

  margin-right: 5px;
  padding: 2px 4px;

  letter-spacing: -0.02em;

  color: #f6fbfd;

  @nest :--small & {
    font-size: calc-size(24);
    line-height: calc-size(34);
  }

  @nest :--medium & {
    font-size: calc-size(48);
    line-height: calc-size(62);
  }

  @nest :--large & {
    font-size: calc-size(72);
    line-height: calc-size(82);
  }

  @nest :--biggest & {
    font-size: calc-size(96);
    line-height: calc-size(115);
  }
}

.cell {
  @nest :--small & {
    font-size: calc-size(12);
    line-height: calc-size(17);
  }
}

.badge {
  @nest :--small & {
    padding: calc-size(1) calc-size(6);

    vertical-align: 0.35em;
  }

  @nest :--medium & {
    vertical-align: 0.35em;
  }

  @nest :--large & {
    vertical-align: 0.3em;
  }

  @nest :--biggest & {
    vertical-align: 0.3em;
  }
}
