.rectBarChart {
  &:hover {
    cursor: pointer;
  }
}

.tooltipHorizontal {
  display: inline;

  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.tooltipVertical {
  display: block;
}

.tooltip {
  &.right {
    &::after {
      right: 98%;
    }
  }

  &.top {
    &::after {
      top: 97%;
    }
  }
}
