.main {
  display: inline-flex;
  align-items: center;
  flex-direction: row;

  & > * + * {
    margin-left: 5px;
  }
}

.icon {
  display: inline-flex;
  flex-shrink: 0;

  color: inherit;

  &.normal {
    color: var(--color-important);
  }

  &.danger {
    color: var(--color-danger);
  }

  &.warning {
    color: var(--color-warning);
  }
}
