@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
    url('./robotocondensed/Robotocondensedlight.woff2') format('woff2'),
    url('./robotocondensed/Robotocondensedlight.woff') format('woff'),
    url('./robotocondensed/Robotocondensedlight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'),
    url('./robotocondensed/Robotocondensedlightitalic.woff2') format('woff2'),
    url('./robotocondensed/Robotocondensedlightitalic.woff') format('woff'),
    url('./robotocondensed/Robotocondensedlightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
    url('./robotocondensed/Robotocondensed.woff2') format('woff2'),
    url('./robotocondensed/Robotocondensed.woff') format('woff'),
    url('./robotocondensed/Robotocondensed.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'),
    url('./robotocondensed/Robotocondenseditalic.woff2') format('woff2'),
    url('./robotocondensed/Robotocondenseditalic.woff') format('woff'),
    url('./robotocondensed/Robotocondenseditalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
    url('./robotocondensed/Robotocondensedbold.woff2') format('woff2'),
    url('./robotocondensed/Robotocondensedbold.woff') format('woff'),
    url('./robotocondensed/Robotocondensedbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'),
    url('./robotocondensed/Robotocondensedbolditalic.woff2') format('woff2'),
    url('./robotocondensed/Robotocondensedbolditalic.woff') format('woff'),
    url('./robotocondensed/Robotocondensedbolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
