@import './styles/normalize.css';
@import './styles/themes/main.css';
@import './styles/themes/size.css';
@import './styles/themes/space.css';
@import './styles/variables.css';

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

button {
  padding: 0;

  color: inherit;
  border: none;
  background: none;
}

::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-thumb {
  border: var(--scrollbar-padding) solid rgba(var(--color-nums-shadow), 1);
  border-radius: 2px;
  background-color: var(--scroll-bar-color);
  background-clip: padding-box;

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  &:horizontal {
    border-right: none;
    border-left: none;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  &:vertical {
    border-top: none;
    border-bottom: none;
  }
}
