@import './styles/fonts.css';
@import './styles/normalize.css';
@import './styles/variables.css';

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

body {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);

  color: var(--text-color);
  background-color: var(--bg-color);
}

button {
  padding: 0;

  color: inherit;
  border: none;
  background: none;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--scroll-bar-color);
}
