@import './styles/normalize.css';
@import './styles/variables.css';

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

body {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);

  color: var(--text-color);
  background-color: var(--bg-color);
}

button {
  padding: 0;

  color: inherit;
  border: none;
  background: none;
}

::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

::-webkit-scrollbar-thumb {
  border: var(--scrollbar-padding) solid var(--opaque-color);
  border-radius: 2px;
  background-color: var(--opaque-color);
  background-clip: padding-box;

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  &:horizontal {
    border-right: none;
    border-left: none;
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  &:vertical {
    border-top: none;
    border-bottom: none;
  }
}

*:hover::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
}
