.main {
  width: 100%;
}

.item {
  font-size: 13px;
  line-height: 18px;

  display: inline-flex;
  align-items: center;

  margin-right: 15px;
}

.marker {
  width: 8px;
  height: 8px;
  margin-right: 4px;

  vertical-align: middle;

  border-radius: 10px;
}

.value {
  font-weight: bold;

  &::before {
    font-weight: normal;

    content: ':\00a0';
  }
}
