.progressLine {
  &.sizeS {
    height: calc-size(20);

    &.withLegend {
      height: calc-size(34);
    }
  }

  &.sizeM {
    height: calc-size(24);

    &.withLegend {
      height: calc-size(40);
    }
  }

  &.sizeL {
    height: calc-size(24);

    &.withLegend {
      height: calc-size(45);
    }
  }
}

.progressBar {
  display: flex;

  & .progressLine:not(:last-child) {
    margin-bottom: 18px;
  }
}

.progress {
  flex-grow: 1;
}
