@custom-selector :--item .item;
@custom-selector :--row .row;

.progressBar {
  display: grid;
  align-items: center;

  grid-template-columns: 1fr auto;
  grid-column-gap: var(--space-s);
}

:--item {
  display: contents;
}

:--row {
  display: contents;
}

.cell {
  /* Нужен для того, что бы заголовок прогрессбара не растягивал грид, а обрезался многоточием */
  min-width: 0;

  &.isTitleCell {
    grid-column: 1 / span 2;

    margin-bottom: calc(-1 * var(--space-2xs));
  }

  &.isTicksCell {
    margin-top: calc(-1 * var(--space-2xs));
  }

  &.isProgressCell {
    min-width: calc-size(160);
  }

  &.isValueCell {
    white-space: nowrap;
  }

  /* Отступ между прогрессбарами */

  @nest :--item:not(:first-child) :--row:first-child & {
    margin-top: var(--space-xs);

    &.isTitleCell {
      margin-top: var(--space-s);
    }
  }
}
