.main {
  position: relative;

  width: 100%;
  height: 100%;
}

.svg {
  width: 100%;
  height: 100%;
}

.item {
  fill: #002d47;
  stroke: rgba(246, 251, 253);
  stroke-opacity: 0.28;

  &.isClickable {
    cursor: pointer;
  }

  &.isHovered,
  &.isSelected {
    fill: #163d53;
  }

  &.russia {
    stroke-opacity: 0.8;
    stroke-width: 2;
  }
}

.circle {
  fill: #012031;
  stroke: #0aa5ff;
  stroke-width: 4;

  cursor: pointer;
}

.circleText {
  fill: #fff;

  font-size: 12px;
  font-weight: bold;

  pointer-events: none;

  text-shadow: 1px 1px 2px black;
}

.line {
  fill: none;
  stroke: #0aa5ff;
  stroke-width: 2;

  pointer-events: none;

  opacity: 0.4;

  &.isAnimated {
    --line-length: 1000; /* переопределяется в js */
    --animated-segment: 30;

    opacity: 1;
    stroke-dasharray: var(--animated-segment) var(--line-length);
    stroke-dashoffset: calc(-1 * var(--line-length));

    animation: dash ease-in infinite;

    @keyframes dash {
      20%,
      100% {
        stroke-dashoffset: var(--animated-segment);
      }
    }
  }
}

.connectionPoint {
  fill: #0aa5ff;
  stroke: white;
  stroke-width: 2;
}
