.main {
  position: relative;

  width: 100%;
  height: 100%;
}

.svg {
  display: block;

  width: 100%;
  height: 100%;

  & foreignObject {
    overflow: visible;
  }
}

.item {
  fill: #002d47;
  stroke: rgba(246, 251, 253);
  stroke-opacity: 0.28;

  &.isSelectable {
    cursor: pointer;
  }

  &.isHovered,
  &.isSelected {
    fill: #163d53;
  }

  &.russia {
    stroke-opacity: 0.8;
    stroke-width: 2;
  }
}

.line {
  fill: none;
  stroke: #0aa5ff;
  stroke-width: 2;

  pointer-events: none;

  opacity: 0.4;

  &.isAnimated {
    --line-length: 1000; /* переопределяется в js */
    --animated-segment: 30;

    opacity: 1;
    stroke-dasharray: var(--animated-segment) var(--line-length);
    stroke-dashoffset: calc(-1 * var(--line-length));

    animation: dash ease-in infinite;

    @keyframes dash {
      20%,
      100% {
        stroke-dashoffset: var(--animated-segment);
      }
    }
  }
}

.foreignObjectWrapper {
  display: inline-block;

  pointer-events: none;

  transform: translate(-50%, -50%);

  & > * {
    pointer-events: auto;
  }
}
