@custom-selector :--main .techParamsBlock;
@custom-selector :--cell .cellAdditional;

:--main {
  position: relative;

  width: 100%;
  padding: 5px 0 10px 6px;

  border: 1px solid #29313d;
  border-radius: 0 0 4px 4px;
  background: #111a28;

  &.statusWarning {
    background-color: var(--color-warning);
  }

  &.statusPossibleWarning {
    border-color: var(--color-warning);
    border-top-color: inherit;
  }

  &.statusWarningPossibleDanger {
    border-color: var(--color-danger);
    border-top-color: inherit;
    background-color: var(--color-warning);
  }

  &.statusPossibleDanger {
    border-color: var(--color-danger);
    border-top-color: inherit;
  }

  &.statusDanger {
    background-color: var(--color-danger);
  }
}

.rangeChart {
  position: absolute;
  top: -1px;
  right: 0;
  left: 0;
}

.rangeChartPadded {
  position: absolute;
  right: 1px;
  left: 1px;
}

.cells {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.cell {
  width: 50%;
  min-width: 0;

  word-wrap: break-word;

  &:only-child {
    width: 100%;
  }
}

.state {
  font-size: 14px;
  line-height: 16px;

  margin-bottom: 5px;

  color: var(--text-color-semi);

  &:last-child {
    margin-bottom: 0;
  }

  &:empty::before {
    display: inline-block;

    content: ' ';
  }

  @nest :--main.statusWarning & {
    color: var(--text-color-black);
  }

  @nest :--main.statusWarningPossibleDanger & {
    color: var(--text-color-black);
  }

  @nest :--main.statusDanger & {
    color: var(--text-color);
  }

  @nest :--main.statusWarning .cell:only-child & {
    color: var(--text-color-black-semi);
  }

  @nest :--main.statusWarningPossibleDanger .cell:only-child & {
    color: var(--text-color-black-semi);
  }

  @nest :--main.statusDanger .cell:only-child & {
    color: var(--text-color-semi);
  }

  @nest :--cell & {
    color: var(--text-color-additional-semi);
  }

  @nest :--main.statusWarning :--cell & {
    color: var(--text-color-black-semi);
  }

  @nest :--main.statusWarningPossibleDanger :--cell & {
    color: var(--text-color-black-semi);
  }

  @nest :--main.statusDanger :--cell & {
    color: var(--text-color-semi);
  }
}

.valueLine {
  line-height: 24px;

  overflow: hidden;

  margin-bottom: 1px;

  white-space: nowrap;
  text-overflow: ellipsis;

  color: var(--text-color);

  @nest :--cell & {
    color: var(--text-color-additional-semi);
  }

  @nest :--main.statusWarning & {
    color: var(--text-color-black);
  }

  @nest :--main.statusWarningPossibleDanger & {
    color: var(--text-color-black);
  }

  @nest :--main.statusWarning :--cell & {
    color: var(--text-color-black-semi);
  }

  @nest :--main.statusWarningPossibleDanger :--cell & {
    color: var(--text-color-black-semi);
  }

  @nest :--main.statusDanger :--cell & {
    color: var(--text-color-semi);
  }
}

.value {
  font-size: 22px;

  letter-spacing: -0.03em;
}

.dimension {
  font-size: 15px;
  font-weight: bold;

  letter-spacing: -0.02em;
}

.name {
  font-size: 14px;
  line-height: 16px;

  color: var(--text-color-additional);

  &.minTwoLines {
    min-height: 32px;
  }

  @nest :--main.statusWarning & {
    color: var(--text-color-black);
  }

  @nest :--main.statusWarningPossibleDanger & {
    color: var(--text-color-black);
  }

  @nest :--main.statusDanger & {
    color: var(--text-color);
  }

  @nest :--main.statusWarning .cell:only-child & {
    color: var(--text-color-black-semi);
  }

  @nest :--main.statusWarningPossibleDanger .cell:only-child & {
    color: var(--text-color-black-semi);
  }

  @nest :--main.statusDanger .cell:only-child & {
    color: var(--text-color-semi);
  }

  @nest :--cell & {
    color: var(--text-color-additional-semi);
  }

  @nest :--main.statusWarning :--cell & {
    color: var(--text-color-black-semi);
  }

  @nest :--main.statusWarningPossibleDanger :--cell & {
    color: var(--text-color-black-semi);
  }

  @nest :--main.statusDanger :--cell & {
    color: var(--text-color-semi);
  }
}
