.main {
  --inner-line-width: 1px;
  --fast-transition: 0.15s ease-out;

  position: absolute;
  z-index: var(--resizer-z);
  top: 0;
  right: 0;

  width: var(--resizer-width);

  cursor: col-resize;
  user-select: none;

  opacity: 0;
  background-color: var(--color-bg-ghost);

  transition: opacity var(--fast-transition);

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: calc((var(--resizer-width) - var(--inner-line-width)) / 2);

    width: var(--inner-line-width);

    content: '';

    background-color: var(--color-bg-link);
  }

  &:hover,
  &.isDragging {
    opacity: 1;
  }

  &:not(.isVisible) {
    visibility: hidden;

    pointer-events: none;
  }
}
