.timeline {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
}

.item {
  width: 43px;
  padding: 6px;

  opacity: 0.5;
  border: 1px solid transparent;

  &:last-child {
    opacity: 1;
    border-color: var(--bg-color-white);
    border-radius: var(--border-radius);
    background: var(--bg-color-white-semi);
  }
}

.time {
  font-size: 13px;
  line-height: 15px;

  color: var(--text-color-additional);
}

.value {
  font-size: 13px;
  line-height: 15px;

  color: var(--text-color);
}
