.main {
  --grid-row-gap: var(--space-xs);
  --grid-column-gap: var(--space-m);

  position: relative;

  display: grid;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  grid-gap: var(--grid-row-gap) var(--grid-column-gap);

  &.asixSizeS {
    --grid-row-gap: var(--space-2xs);
    --grid-column-gap: var(--space-xs);
  }

  &.asixSizeM {
    --grid-row-gap: var(--space-xs);
    --grid-column-gap: var(--space-m);
  }

  &.isHorizontal.asixSizeS {
    --grid-row-gap: var(--space-xs);
    --grid-column-gap: var(--space-xs);
  }

  &.isHorizontal.asixSizeM {
    --grid-row-gap: var(--space-m);
    --grid-column-gap: var(--space-m);
  }

  &.isHorizontal {
    padding-right: var(--space-m);
  }

  &.isDense {
    --grid-row-gap: 0;
  }

  &.columnSizeS {
    --column-size: var(--space-2xs);
    --column-padding: var(--space-3xs);
  }

  &.columnSizeM {
    --column-size: calc-size(12);
    --column-padding: var(--space-2xs);
  }

  &.columnSizeL {
    --column-size: calc-size(16);
    --column-padding: var(--space-2xs);
  }

  &.columnSizeXL {
    --column-size: calc-size(24);
    --column-padding: var(--space-2xs);
  }

  &.columnSize2XL {
    --column-size: calc-size(36);
    --column-padding: var(--space-2xs);
  }

  &.columnSize3XL {
    --column-size: calc-size(42);
    --column-padding: var(--space-2xs);
  }
}

.svg {
  position: absolute;

  overflow: visible;
}

.topTicks,
.rightTicks,
.bottomTicks,
.leftTicks {
  position: relative;
}

.leftTicks,
.rightTicks {
  max-width: calc-size(160);
}

.topTicks {
  grid-area: topTicks;
}

.rightTicks {
  grid-area: rightTicks;
}

.bottomTicks {
  grid-area: bottomTicks;
}

.leftTicks {
  grid-area: leftTicks;

  justify-self: end;
}

.topLeftUnit {
  grid-area: topLeft;

  margin-right: var(--space-m);
  margin-bottom: var(--space-xs);
}

.bottomUnit {
  grid-area: bottomUnit;

  margin-top: var(--space-2xs);

  text-align: right;
}
