.wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  width: 100%;
}

.withVerticalScroll {
  & .chart {
    overflow-y: auto;
  }

  & .bottomTicks {
    padding-top: var(--space-m);
  }
}

.chart {
  position: relative;

  display: grid;
  flex-grow: 1;

  box-sizing: border-box;

  &.isHorizontal {
    padding-right: var(--space-m);
  }

  &.columnSizeS {
    --column-size: var(--space-2xs);
    --column-padding: var(--space-3xs);
  }

  &.columnSizeM {
    --column-size: 12px;
    --column-padding: var(--space-2xs);
  }

  &.columnSizeL {
    --column-size: 16px;
    --column-padding: var(--space-2xs);
  }

  &.columnSizeXL {
    --column-size: 24px;
    --column-padding: var(--space-2xs);
  }

  &.columnSize2XL {
    --column-size: 36px;
    --column-padding: var(--space-2xs);
  }

  &.columnSize3XL {
    --column-size: 42px;
    --column-padding: var(--space-2xs);
  }
}

.svg {
  position: absolute;

  overflow: visible;
}

.topTicks,
.rightTicks,
.bottomTicks,
.leftTicks {
  position: relative;
}

.leftTicks,
.rightTicks {
  max-width: 160px;
}

.topTicks {
  grid-area: topTicks;
}

.rightTicks {
  grid-area: rightTicks;
}

.bottomTicks {
  grid-area: bottomTicks;
}

.leftTicks {
  grid-area: leftTicks;

  justify-self: end;
}

.topLeftUnit {
  grid-area: topLeft;

  margin-right: var(--space-m);
  margin-bottom: var(--space-xs);
}

.bottomUnit {
  grid-area: bottomUnit;

  margin-top: var(--space-2xs);

  text-align: right;
}

.groupWrapper {
  position: relative;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
